<div class="container-fluid">
    <div class="row">
        <div class="col-12 user-card">
            <ul class="nav nav-tabs mb-0 color-primary">
                <li
                    class="nav-item cursor"
                    *ngFor="let tab of tabs"
                    [hidden]="!tab.visible()"
                >
                    <a
                        (click)="page = tab.key"
                        class="nav-link {{ page === tab.key ? 'active' : '' }}"
                        aria-current="page"
                    >
                        <b>{{ tab.label }}</b>
                    </a>
                </li>
            </ul>

                <app-list-admin [page]="schoolid" *ngIf="page == 'Admin' && auth.getRoleId() == '6'"></app-list-admin>
                <app-list-student [page]="schoolid" *ngIf="page == 'Student' && manageStudent"></app-list-student>
                <app-list-teacher [page]="schoolid" *ngIf="page == 'Teacher'"></app-list-teacher>
                <app-list-creator [page]="schoolid" *ngIf="page == 'Creator'"></app-list-creator>
                <ng-container *ngIf="page == 'Parent'">
                    <div class="p-4 border rounded bg-light mt-3">
                        <h6 class="text-muted mb-0">Parents/Guardians list is coming soon.</h6>
                        <p class="small mb-0">Use the Quick Create form to add a parent user in the meantime.</p>
                    </div>
                </ng-container>
        </div>
    </div>
</div>
