.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
.drop-container {
  //width: auto;
  //display: flex;
  //flex-wrap: wrap;
}

.dropdown {
  //background-color: #fff;
  //border: 1px solid #CED4DA;
  border-radius: .25rem;
  display: inline-block;
  margin-bottom: .5rem;
  padding: 1.5rem;
  position: relative;
  text-align: center;
  //width: 100%;
}

section {
  height: max-content !important;
  //width: 100%;
  background-repeat: round;
  padding: 18px;
  object-fit: contain;
  //background-position: ;
}

.example-list {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap to the next line */
  gap: 10px; /* Adds spacing between items */
  padding: 10px;
  border: solid 1px #ccc;
  min-height: 100px;
  background: white;
  border-radius: 4px;
}

.example-box {
  width: 200px; /* Set width for draggable items */
  height: 100px; /* Set height for draggable items */
  padding: 10px;
  background: white;
  border: solid 1px #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
  box-sizing: border-box;
}

.dashboard-card {
  border-right: 3px solid #e6baea !important;
  border-left: 10px solid #e6baea !important;
  border-bottom: 2px solid #e6baea !important;
  border-top: 0 solid #e6baea !important;
}
.dashboard-card1 {
  border-right: 3px solid #8d6eeb !important;
  border-left: 10px solid #8d6eeb !important;
  border-bottom: 2px solid #8d6eeb !important;
  border-top: 0 solid #8d6eeb !important;
}

.dashboard-hover:hover {
  display: absolute;
  transform: scale(1.1);
  z-index: 999;
  box-shadow: 2px 2px 2px #e8eaed;
}
.dashboard-hover1:hover {
  display: absolute;
  transform: scale(1.040);
  z-index: 999;
  box-shadow: 2px 2px 2px #e8eaed;
}
svg {
  width: 14px !important;
  height: 14px !important;
}

.dashboard-button {
  padding: 8px 10px !important;
  font-size: 12px;
  color: #8F008A;
  border: 1px solid #8F008A;
  border-radius: 24px;
  background: #FFFFFF;
}

.completed_button {
  color: #81ba00 !important;
  border: 1px solid #81ba00 !important;
}

.completed_button:hover, .completed_button.active {
  background: #81ba00;
  color: #FFFFFF !important;
  .badge-success {
    background-color: #FFFFFF !important;
    color: #81ba00 !important;
  }
}

.upcoming_button {
  color: #00A8FF !important;
  border: 1px solid #00A8FF !important;
}

.upcoming_button:hover, .upcoming_button.active {
  background: #00A8FF;
  color: #FFFFFF !important;
  .badge-info {
    background-color: #FFFFFF !important;
    color: #00A8FF !important;
  }
}

.inProgress_button {
  color: #ffc107 !important;
  border: 1px solid #ffc107 !important;
}

.inProgress_button:hover, .inProgress_button.active {
  background: #ffc107;
  color: #FFFFFF !important;
  .badge-warning {
    background-color: #FFFFFF !important;
    color: #ffc107 !important;
  }
}

button:focus {
  outline: none !important;
}

.dashboard.masonry-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 16px;
  align-items: start;
}

.masonry-item {
  break-inside: avoid; /* Prevent items from breaking between columns */
}

.circle_design {
  background: #f1f1f4;
  border-radius: 50%;
  padding: 4px 6px;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}


.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}

.right-msg .msg-bubble {
  background: #579ffb;
  color: #fff;
  border-bottom-right-radius: 0;
}

.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}

.msg-info-time {
  font-size: 0.85em;
}

.msg-img {
  width: 35px;
  height: 35px;
  // margin-right: 10px;
  box-shadow: 0 0 15px #1e1e2017;
  border-radius: 50%;
  cursor: default;
}

.msg-bubble {
  max-width: 75%;
  padding: 15px;
  border-radius: 15px;
  background: #ececec;
}

.div-height {
  max-height: 15rem;
  overflow-y: auto;
}

.div-height1 {
  max-height: 20rem;
  overflow-y: auto;
}

.upload-count {
  padding: 4px 6px;
  margin-left: -8px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  border-radius: 50%;
  position: relative;
  top: -12px !important;
  background: #73b5a8;
}

.text-green {
  color: #73b5a8;
}