<!-- main body -->
  <div class="row">
    <div class="col-xl-12 mb-30">
      <div class="card card-statistics h-100">
        <div class="card-header d-flex align-items-center justify-content-between">
            <h5 class="px-0">Content List</h5>
            <button class="btn btn-primary" [routerLink]="'/content/content-list/add'">Add Content</button>
        </div>
        <div class="card-body">
            <div class="row">
              <div class="form-group col-4 my-3">
                <ng-select [multiple]="true" placeholder="Select Category" [(ngModel)]="selectedCategory"
                           [items]="categoryListData" (change)="searchList()"
                           bindLabel="category_name" bindValue="category_id"></ng-select>
              </div>
              <div class="form-group col-4 my-3">
                <ng-select [multiple]="true" placeholder="Select Status" [(ngModel)]="selectedStatus"
                           [items]="statusList" (change)="searchList()"
                           bindLabel="value" bindValue="id"></ng-select>
              </div>
              <div class="form-group col-4 mt-2 my-3">
                <div class="input-group">
                    <input (input)="searchList()" type="text" class="form-control" style="height:40px" size="50" placeholder="Search Category" [(ngModel)]="searchedValue">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
              </div>
            </div>
            <ngx-datatable #table
            style="font-size: 12px;border: 1px solid #d1d4d7; border-radius: 2px"
                          class="bootstrap expandable ngx-datatable-design"
                           [externalSorting]="false" [rows]="rows"
                           [headerHeight]="50"
                           [limit]="recordPerPage"
                           [footerHeight]="50" [rowHeight]="'auto'"
                           [scrollbarH]="false"
                           [columnMode]="'force'"
                           [messages]="{emptyMessage: 'No Content found'}"
            >
              <ngx-datatable-column name="Title" prop="name">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                  <h6 (click)="showBlogDetail(row)" class="blue-color cursor">{{row.name}}</h6>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Category" prop="category_name">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                  <h6>{{row.category_name}}</h6>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Created Date" prop="converted_created_date">
                <ng-template let-row="row" let-rowIndex="rowIndex" let-value="value" ngx-datatable-cell-template let-expanded="expanded">
                  <p>{{row.converted_created_date}}</p>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Cover Image">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                  <img *ngIf="row.image != ''" class="img-thumbnail" [src]="env.imgUrl + '/' + row.image"  alt="Cover Image" />
                  <img alt="" *ngIf="row.image == ''"  src="assets/images/blog/08.jpg" class="img-thumbnail">
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Status" prop="status">
                <ng-template let-row="row" let-value="value" let-expanded="expanded" ngx-datatable-cell-template>
                  <span class="badge badge-success" *ngIf="row.status == 'A'">Active</span>
                  <span class="badge badge-danger" *ngIf="row.status == 'I'">Suspended</span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="Action" prop="batch">
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  
                  <span> &nbsp;&nbsp;</span>
                  <span>
                      <i class="fa fa-pencil-square fa-2x fa-edit cursor" aria-hidden="true" (click)="editBlog(row)" style="color:#00bfff;" title="Edit Content Details"></i>
                    </span>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
  <ng-template #blogDetail let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
      <h5 class="contenttext text-center mb-0">Content Details</h5>
      <i class="fa fa fa-times-circle pull-right cursor color-red-icon" aria-hidden="true" (click)="close()"></i>
    </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row mt-3">
            <div class="col-4">
              <p>Title</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.name}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Author Name</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.author}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Description</p>
            </div>
            <div class="col-8" [innerHTML]="selectedBlogDetail.long_description == '' ? '---' : selectedBlogDetail.long_description">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Category</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.category_name}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Display Order</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.category_name}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Display Order</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.display_order}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Location</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.location == '' ? '-' : selectedBlogDetail.location}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Timing</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.timing == '' ? '-' : selectedBlogDetail.timing}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Event Date</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.created_date == '' ? '-' : selectedBlogDetail.created_date}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Status</p>
            </div>
            <div class="col-8">
              <p><span class="badge badge-success" *ngIf="selectedBlogDetail.status == 'A'">Active</span>
                <span class="badge badge-danger" *ngIf="selectedBlogDetail.status == 'I'">Suspended</span></p>
            </div>
          </div>
          <div class="row mt-3" *ngIf="selectedBlogDetail.status == 'A'">
            <div class="col-4">
              <p>Display From</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.display_from == '' ? '-' : selectedBlogDetail.display_from}}</p>
            </div>
          </div>
          <div class="row mt-3" *ngIf="selectedBlogDetail.status == 'A'">
            <div class="col-4">
              <p>Display Until</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.display_until == '' ? '-' : selectedBlogDetail.display_until}}</p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Cover Image</p>
            </div>
            <div class="col-4">
              <img *ngIf="selectedBlogDetail.image != ''" class="img-thumbnail" [src]="env.imgUrl + '/' + selectedBlogDetail.image"  alt="Cover Image" />
              <img *ngIf="selectedBlogDetail.image == ''" alt="Card image cap" class="card-img-top blogger-detail-img"  src="assets/images/blog/08.jpg">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4">
              <p>Redirect Url</p>
            </div>
            <div class="col-8">
              <p>{{selectedBlogDetail.redirect_url == '' ? '-' : selectedBlogDetail.redirect_url}}</p>
            </div>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button (click)="editBlog(selectedBlogDetail)" class="btn btn-primary my-1 float-left float-sm-right">Edit Content</button>
    </div>
  </ng-template>
  <ng-template #deleteBlogger let-c="close" let-d="dismiss">
          <div class="modal-header">
              <h5 class="contenttext text-center mb-0">{{this.deleteDetail.name}}</h5>
          </div>
          <div class="modal-body">
              <div class="col-12">
                  Are you sure ? Do you want to delete this Content
              </div>
          </div>
      <div class="modal-footer d-flex justify-content-end">
          <button (click)="deleteBlog(deleteDetail, detailIndex)" class="btn btn-primary">Delete</button>
      </div>
  </ng-template>
