 <!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5>Change Password</h5>
                </div>
                <div class="card-body tab2-card">
                                    <form [formGroup]="accountForm" class="needs-validation user-add" novalida>

                                        <div class="form-group row">
                                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                              New Password</label>
                                            <div class="col-xl-8 col-md-7">

                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" formControlName="password" maxlength="20" id="validationCustom0" placeholder="New Password" required="" aria-label="Recipient's username" aria-describedby="basic-addon1" [type]="conps ? 'password' : 'text'">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon2" style="cursor: pointer">
                                                            <i [class]="conps ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true" (click)="conps = !conps"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                <em class="error" *ngIf="accountForm.get('password').hasError('required') && (accountForm.get('password').dirty || accountForm.get('password').touched)">New  Password is required</em>
                                                <em class="error" *ngIf="accountForm.get('password').hasError('minlength')">Minimum 6 characters required</em>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                                Confirm Password</label>
                                            <div class="col-xl-8 col-md-7">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" formControlName="confirmPassword" id="validationCustom1" placeholder="confirmPassword" aria-label="Recipient's username" aria-describedby="basic-addon2" [type]="conps1 ? 'password' : 'text'">
                                                    <div class="input-group-append">
                                                        <span class="input-group-text" id="basic-addon3" style="cursor: pointer">
                                                            <i [class]="conps1 ? 'fa fa-eye-slash' : 'fa fa-eye'" aria-hidden="true" (click)="conps1 = !conps1"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                                    <em class="error" *ngIf="!accountForm.get('confirmPassword').valid && (accountForm.get('confirmPassword').dirty || accountForm.get('confirmPassword').touched)">Confirm Password is required</em>
                                            </div>
                                        </div>
                                    </form>
                    <div class="pull-right">
                        <button type="button" (click)="changePassword()" class="btn btn-primary">Submit</button>
                    </div>
                                </div>

                </div>
            </div>
        </div>
    </div>

<!-- Container-fluid Ends-->
