<!-- Container-fluid starts-->
<div *ngIf="schoolStatus.length != 0" class="container-fluid missed-work-report">
    <div class="card">
        <div class="card-header">
            <h5>{{auth.getRoleId() == '6' ? 'Pending Approval Details' : 'Corporate Access Details'}}</h5>
        </div>
        <div class="card-body" *ngIf="adminPage">
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-popup pull-right">
                        <button class="btn btn-primary" (click)="addRequest()">Add Request</button>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="noRecord">
                <div class="col-12">
                    <ngx-datatable
                            class="bootstrap"
                            [rows]="listData"
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [externalPaging]="true"
                            [count]="totalrecords"
                            [offset]="pageOffSet"
                            [limit]="recordsperpage"
                            (page)='setPage($event)'>
                        <ngx-datatable-column name="Corporate Name" prop="student_name">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <h6>{{row.corporate_name}}</h6>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status" prop="status">
                            <ng-template ngx-datatable-cell-template let-value="value">
                                <i class="fa fa-check text-success fa-2x" title="Completed" aria-hidden="true" *ngIf="value == '1'"></i>
                                <i class="fa fa-clock-o text-warning fa-2x" title="Pending" aria-hidden="true" *ngIf="value == '2'"></i>
                                <i class="fa fa-times text-danger fa-2x" title="Rejected" aria-hidden="true" *ngIf="value == '3'"></i>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="row d-flex justify-content-center list-card mt-3" *ngIf="!noRecord">
                <div class="col-6">
                    <button class="nodataList">{{message}}</button>
                </div>
            </div>
        </div>
        <div class="card-body" *ngIf="corporatePage">
            <div class="row" *ngIf="noRecord">
                <div class="col-12">
                    <ngx-datatable
                            class="bootstrap"
                            [rows]="listData"
                            [columnMode]="'force'"
                            [headerHeight]="50"
                            [footerHeight]="50"
                            [rowHeight]="'auto'"
                            [externalPaging]="true"
                            [count]="totalrecords"
                            [offset]="pageOffSet"
                            [limit]="recordsperpage"
                            (page)='setPage($event)'>
                        <ngx-datatable-column name="School Name" prop="school_name">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <h6>{{row.school_name}}</h6>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Status" prop="status">
                            <ng-template ngx-datatable-cell-template let-value="value">
                                <i class="fa fa-check text-success fa-2x" title="Completed" aria-hidden="true" *ngIf="value == '1'"></i>
                                <i class="fa fa-clock-o text-warning fa-2x" title="Pending" aria-hidden="true" *ngIf="value == '2'"></i>
                                <i class="fa fa-times text-danger fa-2x" title="Rejected" aria-hidden="true" *ngIf="value == '3'"></i>
                            </ng-template>
                        </ngx-datatable-column>
                        <ngx-datatable-column name="Action">
                            <ng-template ngx-datatable-cell-template let-row="row">
                                <i class="fa fa-pencil text-primary fa-2x cursor" title="Edit" aria-hidden="true" (click)="editRequest(row)"></i>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
            <div class="row d-flex justify-content-center list-card mt-3" *ngIf="!noRecord">
                <div class="col-6">
                    <button class="nodataList">{{message}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title col-12 text-center"><b>Enter Request Code</b></h4>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row form-group auth-form my-2">
                <input style="padding: 20px !important;" class="form-control" type="text" placeholder="Request Code" [(ngModel)]="requestCode">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="addRequestCode()">Confirm</button>
    </div>
</ng-template>
<ng-template #editSchool let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title col-12 text-center"><b>Enter Request Code</b></h4>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <label for="validationCustom0" class="col-4"><span style="visibility: hidden">*</span>School Name:</label>
                        <div class="col-8">
                            <input class="form-control" type="text" placeholder="Request Code" [(ngModel)]="schoolName" id="validationCustom0" readonly>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group row">
                        <label for="validationCustom1" class="col-4"><span style="visibility: hidden">*</span>
                            Status:</label>
                        <div class="col-8">
                            <select class="form-control" id="validationCustom1" [(ngModel)]="corporateStatuts" (change)="selectStatus($event)">
                                <option value="" hidden>--Select--</option>
                                <option value="1">Approved</option>
                                <option value="2">Pending</option>
                                <option value="3">rejected</option>
                            </select>
                        </div>
                    </div>
                </div>
                    <div class="col-12" *ngIf="selectApproved">
                        <form [formGroup]="codeform">
                            <div class="form-group row">
                                <label class="col-4"><span class="text-danger">*</span>
                                    Validity Date:</label>
                                <div class="col-8 form-group">
                                    <div class="input-group">
                                        <input class="form-control" name="fromdate" placeholder="mm-dd-yyyy" formControlName="date" [options]="myDpOptions" angular-mydatepicker #dp="angular-mydatepicker">
                                            <div class="input-group-append">
                                                <button type="button" class="btn btn-primary" (click)="dp.toggleCalendar()">
                                                    <i class="fa fa-calendar-o"></i>
                                                </button>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="editRequestDetail()">Confirm</button>
    </div>
</ng-template>

<div *ngIf="schoolStatus.length == 0">
    <app-emptyschool>
    </app-emptyschool>
</div>
<!-- Container-fluid Ends-->
