.quick-create-wrapper {
  max-width: 720px;
  margin: 0 auto;
}

.card {
  box-shadow: 0 0.5rem 1.2rem rgba(58, 59, 69, 0.15);
}

label {
  font-weight: 600;
}

.btn-link {
  text-decoration: none;
}

