.student-selected {
    background-color: #e9ccec !important;
    border-radius: 4px !important;
}
.correct_ans-selected {
    background-color: #d4edda !important;
    border-radius: 4px !important;
  }
.button_design {
    border: 0 !important;
    font-size: 14px;
    padding: 9px 12px !important;
  }
  
  .inner_button {
    padding: 4px 8px !important;
    background: #ffff !important;
    color: black;
    border: 2px solid #e1e4eb !important;
    border-radius: 6px;
    font-weight: 600;
    font-size: 16px;
    height: 30px;
  }
  
  .button_design {
    cursor: default;
  }
  
  .inner_button:focus, .button_design:focus {
    box-shadow: none !important;
    outline: none;
  }
  
  .button_design:active {
    color: #FFFFFF !important;
  }
  
  .inner_button:active {
    color: black !important;
  }
  
  .inner_button:focus-visible, .button_design:focus-visible {
    outline: none !important;
  }
  .card .card-body {
    z-index: unset !important;
  }

.scroll-to-top {
  position: absolute;
  bottom: 15px;
  right: 15px;
  opacity: 0;
  transition: all .2s ease-in-out;
  z-index: 1051;
}

.show-scroll {
  opacity: 1;
}
