<!-- Container-fluid starts-->

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Delete Books details</h4>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-center mt-3">Are you sure you want to delete Books details '{{deleteUser.category_name}}'?</h5>
                </div>
            </div>
        </div>

        <!-- Container-fluid Ends-->

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onSave()">Cancel</button>
    </div>
</ng-template>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Content Folder Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3" *ngIf="showSchoolSearch">
                    <ng-select [items]="schoolData"
                               bindLabel="school_name"
                               bindValue="school_id"
                               placeholder="Please Select"
                               [(ngModel)]="schoolDataList"
                               (change)="getBatchList('select')">
                    </ng-select>
                </div>
                <div class="col-md-{{showSchoolSearch ? 9 : 12}}">
                    <div class="btn-popup pull-right">
                        <a class="btn btn-primary ml-3" [routerLink]="'/classroom/create-classroom/add'">Add Content Folder</a>
                    </div>
                </div>
            </div>
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <ng2-smart-table [settings]="settings" [source]="listData" (custom)="onCustomAction($event)"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
