@import "bootstrap/scss/bootstrap";
@import 'feather-icon/feather-icon';
@import 'theme/variables';
@import './theme/admin_style';
@import 'theme/rtl';
@import 'theme/datatable';
// Flag contents
@import 'dropzone/dist/min/dropzone.min.css';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import "@ng-select/ng-select/themes/default.theme.css";
//@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";



