.nodataList{
  background: #f8f8f9;
  border: 2px solid #7F3486;
  padding: 15px 25px;
  text-align: center;
  border-radius: 7px;
  color:#7F3486;
  width: 100%;
  font-weight: bolder;
  font-size: large;
}

.upload-count {
  padding: 4px 6px;
  margin-left: -8px;
  font-size: 12px;
  color: #fff;
  font-weight: 400;
  border-radius: 50%;
  position: relative;
  top: -12px !important;
  background: #8F008A;
}
