<!--=================================
 preloader -->
<div id="pre-loader" *ngIf="commondata.loader.value">
    <img src="assets/images/pre-loader/loader-01.svg" alt="">
</div>
<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-6" *ngIf="message != ''">
                    <div class="card text-center">
                        <div class="svg-icon mb-0" style="min-height: 15rem">
                            <img alt="" src="assets/images/{{this.logo}}" style="height: auto; object-fit: contain">
                        </div>
                        <div class="card-body">
                            <h5><em>"{{message}}"</em></h5>
                            <div class="form-button">
                                <button class="btn btn-primary" [routerLink]="'/auth/login'">Ok</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-5 p-0 card-left" *ngIf="message == ''">
                    <div class="card bg-primary mb-0 p-2">
                        <div class="svg-icon d-flex justify-content-center" style="min-height: 15rem">
                            <img alt="" class="my-2" src="assets/images/{{this.logo}}" style="height: auto; object-fit: contain">
                        </div>
                        <div class="single-item">
                            <owl-carousel-o [options]="owlcarouselOptions">
                                <ng-container *ngFor="let data of owlcarousel">
                                    <ng-template carouselSlide class="item">
                                        <div>
                                            <h3>{{data.title}}</h3>
                                        </div>
                                    </ng-template>
                                </ng-container>
                            </owl-carousel-o>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-7 p-0 card-right" *ngIf="message == ''">
                    <div class="card tab2-card">
                        <div class="card-body">

                            <ngb-tabset class="tab-coupon mb-0">
                                <ngb-tab>
                                    <ng-template *ngIf="!forgotList" ngbTabTitle><i class="icon-user mr-2"></i>Forgot Password</ng-template>
                                    <ng-template *ngIf="forgotList" ngbTabTitle><i class="icon-user mr-2"></i>Reset Password</ng-template>
                                    <ng-template ngbTabContent>
                                        <div class="tab-pane fade active show" id="account" role="tabpanel"
                                            aria-labelledby="account-tab">
                                            <form [formGroup]="loginForm"
                                                class="form-horizontal auth-form" novalidate="" *ngIf="!forgotList">
                                                <div class="form-group">
                                                    <input required="" formControlName="userName" name="login[username]" type="text"
                                                        class="form-control" placeholder="Email"
                                                        id="exampleInputEmail1" autocomplete="off">
                                                    <em class="error" *ngIf="!loginForm.get('userName').valid && (loginForm.get('userName').dirty || loginForm.get('userName').touched)">Email is required</em>
                                                    <em class="error" *ngIf="loginForm.get('userName').hasError('pattern')">Invalid Email-Id</em>
                                                </div>
                                                <div class="form-terms">
                                                    <div class="custom-control custom-checkbox mr-sm-2">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customControlAutosizing">
                                                        <a [routerLink]="'/auth/login'"
                                                            class="btn btn-default forgot-pass">Back to
                                                            Login</a>
                                                    </div>
                                                </div>
                                                <div class="form-button">
                                                    <button class="btn btn-primary" (click)="change()">Submit</button>
                                                </div>
                                            </form>
                                            <form [formGroup]="forgotForm"
                                                  class="form-horizontal auth-form" novalidate="" *ngIf="forgotList">
                                                <div class="form-group">
                                                    <input autofocus required="" formControlName="userName" type="text"
                                                           class="form-control" placeholder="Email"
                                                           id="exampleInputEmail">
                                                    <em class="error" *ngIf="!forgotForm.get('userName').valid && (forgotForm.get('userName').dirty || forgotForm.get('userName').touched)">Email is required</em>
                                                </div>
                                                <div class="form-group">
                                                    <input required="" formControlName="password"  type="password"
                                                           class="form-control" placeholder="Password" maxlength="20">
                                                    <em class="error" *ngIf="forgotForm.get('password').hasError('required') && (forgotForm.get('password').dirty || forgotForm.get('password').touched)">Password is required</em>
                                                    <em class="error help-block" *ngIf="forgotForm.get('password').hasError('minlength')">Minimum 6 characters required</em>
                                                </div>

                                                <div class="form-group">
                                                    <input required="" formControlName="confirmpassword"  type="password"
                                                           class="form-control" placeholder="Confirm Password" maxlength="20">
                                                    <div *ngIf="forgotForm.controls['confirmpassword'].touched && !forgotForm.controls['confirmpassword'].valid">
                                                        <em class="error help-block" *ngIf="forgotForm.controls['confirmpassword'].hasError('required') " >
                                                            Enter Confirm Password
                                                        </em>
                                                    </div>
                                                    <div *ngIf="checkPasswords()">
                                                        <em class="error help-block" >
                                                            Enter same password as above
                                                        </em>
                                                    </div>
                                                </div>
                                                <div class="form-button">
                                                    <button class="btn btn-primary" (click)="update()">Submit</button>
                                                </div>

                                            </form>

                                        </div>
                                    </ng-template>
                                </ngb-tab>

                            </ngb-tabset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
