<div class="app-shell enterprise-layout">
  <div id="pre-loader" *ngIf="commondata.loader.value">
    <img src="assets/images/pre-loader/loader-01.svg" alt="Loading" />
  </div>

  @if (showMobView) {
    <app-header2></app-header2>
  } @else {
    <app-header (rightSidebarEvent)="rightSidebar($event)"></app-header>
  }

  <div class="app-shell__body" [class.with-collapsed-sidebar]="navServices.collapseSidebar && !showMobView">
    @if (!showMobView) {
      <div
        class="app-shell__sidebar"
        [class.is-collapsed]="navServices.collapseSidebar"
        [class.is-hovered]="isHovered"
        (mouseenter)="onSidebarHover()"
        (mouseleave)="onSidebarLeave()"
      >
        <app-sidebar></app-sidebar>
        <aside class="app-shell__right-rail" [class.show]="right_side_bar">
          <app-right-sidebar></app-right-sidebar>
        </aside>
      </div>
    } @else {
      <div class="app-shell__sidebar app-shell__sidebar--mobile">
        <app-right-sidebar-mob></app-right-sidebar-mob>
      </div>
    }

    <div class="app-shell__content" [class.hovered]="isHovered && !showMobView">
      <main class="app-main">
        <div class="app-main__container container-fluid">
          <router-outlet></router-outlet>
        </div>
      </main>

      <footer class="app-footer">
        <div class="app-footer__inner">
          <app-footer></app-footer>
        </div>
      </footer>
    </div>
  </div>
</div>
