<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4">
            <div class="card">
                <div class="card-body">
                    <div class="profile-details text-center">
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" (change)="encodeImageFileAsURL($event)" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div class="blur-up lazyloaded" *ngIf="profile == ''" id="imagePreview" style="background-image: url(assets/images/dashboard/default.png);"></div>
                                <img class="blur-up lazyloaded" *ngIf="listCheck && profile != ''" id="imagePreview" [src]="profile" width="100%">
                                    <div class="blur-up lazyloaded" *ngIf="!listCheck && profile != ''"  width="100%" id="imagePreview" [style.background-image]="'url('+imgUrl+ '/' + profile +')'"></div>
                            </div>
                        </div>

                        <h5 class="f-w-600 mb-0">{{firstname}} {{lastname}}</h5>
                        <span>{{email}}</span>

                        <div class="row mt-3">
                             <div class="col-md-3" *ngFor="let imgIdx of imageObject; let i = index" style="cursor: pointer">
                            <img [src]="imgIdx.thumbImage" (click)="getImage(i, imgIdx)"   width="50">
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card tab2-card">
                <div class="card-body">
                    <ngb-tabset class="tab-coupon profile-tabs">
                        <ngb-tab>
                            <ng-template ngbTabTitle>
                                <app-feather-icons [icon]="'user'"></app-feather-icons>Profile
                                <app-feather-icons [icon]="'edit'" style="float: right;" (click)="editPage()"></app-feather-icons>
                            </ng-template>
                            <ng-template ngbTabContent>
                                <div class="tab-pane fade show active" id="top-profile" role="tabpanel"
                                    aria-labelledby="top-profile-tab">
                                    <div *ngIf="type == 'view' && !editView" class="table-responsive profile-table">
                                        <table class="table table-responsive">
                                            <tbody>
                                                <tr>
                                                    <td>First Name:</td>
                                                    <td>{{firstname | titlecase}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Last Name:</td>
                                                    <td>{{lastname | titlecase}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Email:</td>
                                                    <td>{{email}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Gender:</td>
                                                    <td>{{gender | titlecase}}</td>
                                                </tr>
                                                <tr>
                                                    <td>Mobile Number:</td>
                                                    <td>{{mobile}}</td>
                                                </tr>
                                                <tr>
                                                    <td>DOB:</td>
                                                    <td>{{birthday | date: 'MM-dd-yyyy'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <form  *ngIf="type == 'edit' || editView" [formGroup]="accountForm" class="needs-validation user-add" novalida>
                                        <div class="form-group row">
                                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                                First Name</label>
                                            <div class="col-xl-8 col-md-7">
                                                <input class="form-control " formControlName="fname" id="validationCustom0"
                                                       type="text" required="">
                                                <em class="error" *ngIf="!accountForm.get('fname').valid && (accountForm.get('fname').dirty || accountForm.get('fname').touched)">First name is required</em>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span> Last
                                                Name</label>
                                            <div class="col-xl-8 col-md-7">
                                                <input class="form-control" formControlName="lname" id="validationCustom1"
                                                       type="text" required="">
                                                <em class="error" *ngIf="!accountForm.get('lname').valid && (accountForm.get('lname').dirty || accountForm.get('lname').touched)">Last name is required</em>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom6" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                                Gender</label>
                                            <div class="col-xl-8 col-md-7">
                                                <select class="form-control" formControlName="gender" id="validationCustom6">
                                                    <option selected disabled>--Select--</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                                Date Of Birth</label>
                                            <div class="col-xl-8 col-md-7 form-group">
                                                <div class="d-flex align-items-baseline">
                                                    <input class="form-control" placeholder="mm-dd-yyyy"
                                                           name="dp"  formControlName="dob" angular-mydatepicker #dp="angular-mydatepicker"
                                                           [options]="myDpOptions" (dateChanged)="onDateChanged($event)" />
                                                    <div class="input-group-append">
                                                        <button type="button" class="btn btn-primary" (click)="dp.toggleCalendar()">
                                                            <i class="fa fa-calendar-o"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                                Mobile</label>
                                            <div class="col-xl-8 col-md-7">
                                                <input class="form-control" formControlName="mobile" id="validationCustom3"
                                                       type="text" required="" (keypress)="numberPattern($event)" maxlength="15" minlength="10">
                                                <em class="error" *ngIf="!accountForm.get('mobile').valid && (accountForm.get('mobile').dirty || accountForm.get('mobile').touched)">Mobile is required</em>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span>
                                                Email</label>
                                            <div class="col-xl-8 col-md-7">
                                                <input class="form-control" formControlName="email" id="validationCustom2"
                                                       type="text" required="" readonly>
                                                <em class="error" *ngIf="!accountForm.get('email').valid && (accountForm.get('email').dirty || accountForm.get('email').touched)">Email is required</em>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="validationCustom5" class="col-xl-3 col-md-4"><span>*</span>
                                                Role</label>
                                            <div class="col-xl-8 col-md-7">
                                                <select class="form-control" formControlName="role" id="validationCustom5">
                                                    <option selected disabled>--Select--</option>
                                                    <option value="1">Admin</option>
                                                    <option value="2">User</option>
                                                </select>
                                                <em class="error" *ngIf="!accountForm.get('role').valid && (accountForm.get('role').dirty || accountForm.get('role').touched)">Role is required</em>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="pull-right mt-3" *ngIf="type == 'edit' || editView">
                                        <button type="button"  class="btn btn-primary" (click)="saveProfile()">Save</button>
                                    </div>
                                </div>
                            </ng-template>
                        </ngb-tab>
                    </ngb-tabset>
                </div>
            </div>
        </div>
    </div>
</div>


