<div class="container-fluid">
    <div *ngIf="!functionCalled" id="custom-pdf-loader" style="height: 80vh;">
        <img alt="" src="assets/images/pre-loader/loader-01.svg">
    </div>
    <div [hidden]="previewPdf == false" class="row">
        <div *ngIf="functionCalled" class="col-12 card p-3">
            <h4 class="mb-0 font-weight-bold color-primary align-items-center justify-content-between d-flex">{{detailData.name}}
                <div class="d-flex align-items-center">
                    <i *ngIf="allowContentEdit && calledBy != 'popUp'" title="Edit Content" class="fa fa-pencil editAction" (click)="editAction()"></i>
                    <span class="ml-2" *ngIf="calledBy == 'routes'">
                        <button (click)="previewback()" *ngIf="previewType == 'repository' || previewType == 'home'" class="btn btn-primary float-right">back</button>
                        <button *ngIf="previewType == 'correction'" [routerLink]="'/assessment-correction/list-correction'" class="btn btn-primary float-right">back</button>
                        <button *ngIf="previewType == 'assignment-correction'" [routerLink]="'/assignment-correction/list-correction'" class="btn btn-primary float-right">back To Folder</button>
                        <button *ngIf="previewType == 'content-folder'" [routerLink]="'/classroom/list-classroom'" class="btn btn-primary float-right">back</button>
                        <button *ngIf="backToResources == 'available'" (click)="back()" class="btn btn-primary float-right">back</button>
                        <button *ngIf="additionalLinks?.length != 0" class="btn btn-primary float-right mr-2" (click)="AdditionalSourecLink()">Resources</button>
                    </span>
                </div>
            </h4>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-{{questionEmpty && !expandPdf ? 12 : deleteAnnatation && !expandPdf ? 12 : 8}} px-0" *ngIf="functionCalled && !isPdfAvailable && !showQuestion">
                    <app-source-link [setHeight]="false" [pdfPath]="getpdf[0]"></app-source-link>
                </div>
                <div *ngIf="previewType == 'student_preview' && functionCalled && pdfTemplate && isPdfAvailable && !showQuestion" class="col-md-{{questionEmpty || expandPdf ? 12 : deleteAnnatation || expandPdf ? 12 : 8}}" id="pdf-page">
                    <app-annotation (annotate)="getAreaInfo($event)"
                                    [userType]="'student'"
                                    (deleteAnnotation)="getDeleteAction($event)"
                                    [getAnnotate]="areaInfo"
                                    [getDragQues]="dragQuestionsList"
                                    [pdfPath]="pdfTemplate"
                                    [expandPdf]="true"
                                    (expandBoolean)="expandPdfSize($event)"
                                    [toolAlignCenter]="questionEmpty"
                                    [toolHide]="false"></app-annotation>
                </div>
                <div *ngIf="previewType != 'student_preview' && functionCalled && pdfTemplate && isPdfAvailable && !showQuestion"
                     class="col-md-{{questionEmpty || expandPdf ? 12 : 8}}"
                     id="pdf-page">
                    <app-annotation [getAnnotate]="areaInfo"
                                    [getDragQues]="dragQuestionsList"
                                    [pdfPath]="pdfTemplate"
                                    [expandPdf]="true"
                                    [toolAlignCenter]="questionEmpty"
                                    (expandBoolean)="expandPdfSize($event)"
                                    [toolHide]="!(previewType == 'teacher_preview')"
                                    [userType]="'teacher'"></app-annotation>
                </div>
                <div *ngIf="getpdf?.length > 0 && functionCalled && !expandPdf" [hidden]="questionEmpty != false || deleteAnnatation" class="col-md-{{!showQuestion ? 4 : 12}} scrollPanel pr-0">
                    <div *ngIf="totalsub.length != 0" class="col-md-1 px-0 mt-1" style="margin-left: -18px">
                        <img (click)="hideQuestion()" *ngIf="showQuestion" alt=""
                             src="assets/images/pdf-icons/arrowRight.png" title="Show pdf">
                        <img (click)="hideQuestion()" *ngIf="!showQuestion" alt=""
                             src="assets/images/pdf-icons/arrowLeft.png" title="Hide pdf">
                    </div>
                    <div class="row col-md-12 px-0">
                        <div *ngFor="let sec of totalsub; let i = index" class="col-md-12">
                            <div class="col-md-12 py-3 px-0" *ngIf="this.totalsub.length != 1 || sec.heading != ''">
                                <input type="text" readonly class="input-custom-modal" [value]="sec.heading">
                            </div>
                            <div *ngFor="let list of sec.section; let j = index" class="col-md-12 card mx-0 px-4">
                                <div class="card-header ant-card-small">
                                    <div class="row">
                                        <div class="col-md-8 px-0">
                                            <span class="pull-left question-no col-md-3 mr-2" id="dropId">{{list.sub_question_no}}</span>
                                            <img [hidden]="list.auto_grade == '0'" alt="" class="ml-2" src="assets/images/pdf-icons/auto-grade.png" title="auto graded">
                                            <img [hidden]="list.match_case == '0'" alt="" class="ml-2 mt-2 border" src="assets/images/pdf-icons/match-case.png" title="match case">
                                            <img *ngIf="list.question_type_id == '30'" alt="" class="ml-2" src="assets/images/pdf-icons/math-icon.png" title="math question">
                                        </div>
                                        <div class="col-md-4 px-0">
                                        </div>
                                        <div *ngIf="list.question != ''"  class="col-md-12 mt-3">
                                            <div class="col-md-12 overflow-auto px-0" style="max-height: 30rem">
                                                <label>Question: </label>
                                                <span [innerHTML]="list.question | sanitizeHtml" class="div-disable" id="{{j}}+ 'show'"></span>
                                            </div>
                                        </div>
                                        <div [hidden]="previewType == 'student_preview'" class="col-12 px-0">
                                            <div *ngIf="list.question_type_id == '1'" class="col-md-12 mb-2 px-0">
                                                <span *ngFor="let items of list.array" [ngClass]="{'selectColor' : items.toLowerCase() === list.answer.toString().toLowerCase()}" class="multichoice-option" style="line-height: 4">{{items}}</span>
                                            </div>
                                            <div *ngIf="list.question_type_id == '3'" class="col-md-12 px-0 mb-2">
                                                <div class="row">
                                                    <input [checked]="list.answer.toString() == 'true'" class="ml-4" style="pointer-events: none" type="radio"><h4 class="ml-2 mb-0">True</h4>
                                                    <input [checked]="list.answer.toString() == 'false'" class="ml-4" style="pointer-events: none" type="radio"><h4 class="ml-2 mb-0">False</h4>
                                                </div>
                                            </div>
                                            <div *ngIf="list.question_type_id == '9'" class="col-md-12 px-0 mb-2">
                                                <select class="form-control">
                                                    <option *ngFor="let chc of list.array" [selected]="chc.choice == list.answer.toString()" disabled>{{chc.choice}}</option>
                                                </select>
                                            </div>
                                            <div *ngIf="list.question_type_id == '10'" class="col-md-12 px-0 mb-2">
                                                <div class="col-12 px-0 mb-3" *ngFor="let answer of list?.answer; let k  = index">
                                                    <label>Answer {{k + 1}}: </label>
                                                    <textarea [value]="answer" class="form-control" readonly></textarea>
                                                </div>
                                            </div>
                                            <div *ngIf="list.question_type_id == '20'" class="col-md-12 px-0 mb-2">
                                                <label>Free text</label>
                                                <textarea class="form-control div-disable" cols="30" rows="2">Number of lines: {{list.answer}}</textarea>
                                            </div>
                                            <div *ngIf="list.question_type_id == '30'" class="col-md-12 mb-2 overflow-auto">
                                                <div class="col-12 px-0 mb-3" *ngFor="let answer of list?.answer; let k  = index">
                                                    <label>Answer {{k + 1}}: </label>
                                                    <span [innerHTML]="answer | sanitizeHtml"></span>
                                                </div>
                                            </div>
                                            <div *ngIf="list.question_type_id == '40'" class="col-md-12 px-0 mb-2">
                                                <button (click)="graphDetail(list.answer)" class="btn btn-primary">view graph</button>
                                            </div>
                                            <div *ngIf="list.question_type_id == '54'" class="col-md-12 mt-3 px-0 mb-2">
                                                <div *ngFor="let opt of list.answer">
                                                    <textarea [value]="opt.value" class="form-control mb-2" readonly rows="2"></textarea>
                                                </div>
                                            </div>
                                            <div *ngIf="list.answer_explanation != ''" class="col-md-12 mt-3 px-0">
                                                <label class="color-primary">Explanation: </label>
                                                <div [innerHTML]="list.answer_explanation | sanitizeHtml" class="custom-card overflow-auto">
                                                </div>
                                            </div>
<!--                                            <div *ngIf="list.answer_explanation != ''" class="col-md-12 mt-3 px-0">-->
<!--                                                <div class="col-md-12 overflow-auto px-0">-->
<!--&lt;!&ndash;                                                    <button (click)="openExplanationPopup(list.answer_explanation)" class="btn-outline-primary btn-sm">view explanation</button>&ndash;&gt;-->
<!--                                                </div>-->
<!--                                            </div>-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" *ngIf="previewPdf == false && showPdf == 'text_resources'">
       <div class="col-12 card mb-1 p-3">
           <h4 class="mb-0 font-weight-bold color-primary align-items-center justify-content-between d-flex">
               {{responseData?.is_test == '1' && responseData.is_test ? responseData?.name : detailData?.name}}
               <div class="d-flex align-items-center">
                   <i *ngIf="allowContentEdit && calledBy != 'popUp'" title="Edit Content" class="fa fa-pencil editAction" (click)="editAction()"></i>
                   <span *ngIf="calledBy == 'routes'" class="ml-2">
                       <button *ngIf="backToResources == null && previewType != 'content-folder'" [routerLink]="'/repository/content-home'" class="btn btn-primary float-right">back</button>
                       <button *ngIf="backToResources == 'available'" [routerLink]="'/class/view-assign/2'" (click)="back()" class="btn btn-primary float-right">back</button>
                       <button *ngIf="previewType == 'content-folder'" [routerLink]="'/classroom/list-classroom'" class="btn btn-primary float-right">back</button>
                       <button *ngIf="detailData?.links.length != 0" class="btn btn-outline-primary float-right mr-2" (click)="AdditionalSourecLink()">Resources</button>
                   </span>
               </div>
           </h4>
       </div>

        <div class="col-12 mt-3 px-0" *ngIf="detailData?.file_text && detailData?.file_text != ''">
            <div class="card" style="border-bottom: 3px solid #e6baea !important; border-right: 3px solid #e6baea !important">
                <div class="card-body py-3 px-4">
                    <h4 class="mb-3 font-weight-bold">Description:</h4>
                    <div class="ml-2 editor_bullet">
                        <span [innerHTML]="detailData?.file_text | sanitizeHtml"></span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div *ngIf="previewPdf == false && (showPdf == 'text_assessments' || showPdf == 'text_assignments')" class="row">
        <div class="col-12 card mb-2 mt-2 p-3">
            <div class="row">
                <div class="col-6 align-self-center">
                    <h4 class="mb-0 font-weight-bold color-primary">
                        {{responseData?.is_test == '1' && responseData.is_test ? responseData?.name : detailData?.name}}
                    </h4>
                </div>
                <div class="col-6">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="form-group pr-2 m-0 test-width col-5" *ngIf="testData">
                            <ng-select [items]="testDetails"
                                       bindLabel="name"
                                       bindValue="content_id"
                                       [(ngModel)]="testContentID"
                                       placeholder="Please Select Test"
                                       (change)="callTestDetails()"
                                       [clearable]="false"
                                       [searchable]="false">
                            </ng-select>
                        </div>
                        <i *ngIf="allowContentEdit && calledBy != 'popUp'" title="Edit Content" class="fa fa-pencil editAction" (click)="testData ? testEdit() : editAction()"></i>
                        <span *ngIf="calledBy == 'routes'" class="ml-2">
                            <button *ngIf="backToResources == null && previewType != 'content-folder'" [routerLink]="'/repository/content-home'" class="btn btn-primary float-right">back</button>
                            <button *ngIf="backToResources== 'home'" [routerLink]="'/home/list-home'" class="btn btn-primary float-right">back</button>
                            <button *ngIf="backToResources == 'available'" [routerLink]="'/class/view-assign/2'" (click)="back()" class="btn btn-primary float-right">back</button>
                            <button *ngIf="previewType == 'content-folder'" [routerLink]="'/classroom/list-classroom'" class="btn btn-primary float-right">back</button>
                            <button *ngIf="detailData?.links.length != 0" class="btn btn-outline-primary float-right mr-2" (click)="AdditionalSourecLink()">Resources</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mt-3" *ngIf="detailData?.file_text && detailData?.file_text != ''">
            <div class="card ml-3 mr-0" style="overflow-y: auto; max-height: 35vh; border-bottom: 3px solid #e6baea !important; border-right: 3px solid #e6baea !important">
                <div class="card-body py-3 px-4">
                    <h4 class="mb-3 font-weight-bold">Description:</h4>
                    <div class="ml-2 editor_bullet">
                        <span [innerHTML]="detailData?.file_text | sanitizeHtml"></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 mb-2 mt-2" *ngIf="questions.length != 0">
            <h4 class="letter">Questions & Answer</h4>
        </div>
        <div class="col-12 d-flex justify-content-center list-card mt-5" *ngIf="questions.length == 0">
            <div class="col-5 mt-5">
                <button style="padding:15px 20px" class="nodataList">No Question Added For This Content !</button>
            </div>
        </div>
        <div class="col-12 mt-2 view-question scrollPanel1" *ngIf="questions.length != 0">
            <div *ngFor="let list of questions | paginate: { itemsPerPage: 10, currentPage: page}; let i = index" class="col-12 col-md-12 mb-2">
                <div class="container">
                    <div class="card p-5">
                            <div class="card-body">
                                <div class="row">
                                    <div class="px-0" style="width: 5% !important;">
                                        <button class="btn-primary w-auto h-20 pl-2 pr-2 pt-1 pb-1">{{list.question_no}}</button>
                                    </div>
                                    <div class="align-self-center" style="width: 95%">
                                        <div class="inner editor_bullet" *ngIf="list.question_type_id != 24 && list.question_type_id != 55"><b><h3 [innerHTML]="list.question | sanitizeHtml" class="mb-0 overflow-auto"></h3></b></div>
                                        <div class="editor_bullet col-md-12 px-0" *ngIf="list.question_type_id == 55">
                                            <div class="essay-box m-0">
                                                <h2>Essay Prompt</h2>
                                                <p>
                                                    <span [innerHTML]="convertMarkdownToHtml(list.question)" class="mb-0 overflow-auto"></span>
                                                </p>
                                            </div>
                                        </div>
                                        <div class="overflow-auto p-3 editor_bullet" style="max-height: 40vh; border: 3px solid #e6baea !important;border-radius: 8px"
                                             *ngIf="list.question_type_id == 24 && list.subQuestions[0].passage && list.subQuestions[0].passage != ''">
                                            <span [innerHTML]="list.subQuestions[0].passage | sanitizeHtml" class="mb-0"></span></div>
                                    </div>
                                </div>
                                <div class="col-12 mt-3" *ngIf="list.question_type_id == 1 || list.question_type_id == 2">
                                    <div *ngFor="let item of list.answer; let j=index" class="mb-2 p-2 multiSelectCard d-flex">
                                        <!-- [ngClass]="{'question-page-selected' : (item.correctActive === 0 ? false : item.correctActive == 1) && showAnswer}" -->
                                        <span [ngClass]="{'selectColor' : (item.correctActive === 0 ? false : item.correctActive == 1) && showAnswer}" class="multichoice-option1 mr-2">{{((j+1) + 9).toString(36).toUpperCase()}}</span>
                                        <span class="ml-3 mt-1 paragraph-space" [innerHTML]="list.options[j].options  | sanitizeHtml"></span>
                                    </div>
                                </div>
                                <div *ngIf="list.question_type_id == 5 || list.question_type_id == 7" class="col-12 mt-5 table-flexible">
                                    <table class="table table-bordered text-center {{showAnswer? 'div-disable' : ''}}">
                                        <thead>
                                        <tr>
                                            <th>Questions</th>
                                            <th *ngFor="let item of list.answer; let j=index" [innerHTML]="item | sanitizeHtml"></th>
                                        </tr>
                                        </thead>
                                        <tbody *ngIf="list.question_type_id == 5">
                                        <tr  *ngFor="let ans of list.heading_option; let j=index">
                                            <td [innerHTML]="list.options[j].options | sanitizeHtml"></td>
                                            <td *ngFor="let answer of list.answer; let k=index">
                                                <input [checked]="ans.correctActive == k && showAnswer" class="radio_animated" name="{{i}}choose{{j}}p{{page}}" type="radio">
                                            </td>
                                        </tr>
                                        </tbody>
                                        <tbody *ngIf="list.question_type_id == 7">
                                        <tr  *ngFor="let item of list.options; let j=index">
                                            <td [innerHTML]="item.options | sanitizeHtml"></td>
                                            <td *ngFor="let chk of list.answer; let k=index">
                                                <input *ngIf="showAnswer" id="checkMulti{{page != 1 ? page - 1: ''}}{{i}}{{j}}{{k}}" type="checkbox">
                                                <input *ngIf="!showAnswer" type="checkbox">
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-12 mt-5" *ngIf="list.question_type_id == 9">
                                    <div *ngFor="let item of list.answer; let j = index" class="col-md-6 mt-3 mb-3">
                                        <label>Dropdown - {{j+1}}</label>
                                        <div class="col-md-12 preview dropup">
                                            <div *ngIf="showAnswer" class="col-md-12 innerhtml-margin-clear p-2 dropdown-border dropdown-toggle d-flex justify-content-between" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="{{page != 1 ? page - 1: ''}}{{i}}dropdown{{j}}"></div>
                                            <div *ngIf="!showAnswer" class="col-md-12 innerhtml-margin-clear p-2 dropdown-border dropdown-toggle d-flex justify-content-between" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Show Answer</div>
                                            <div class="col-md-11 dropdown-menu">
                                                <span class="dropdown-item dropdown-link">Select Answer</span>
                                                <span *ngFor="let option of item.options; let k = index" [innerHTML]="option.listOption | sanitizeHtml" class="dropdown-item dropdown-link innerhtml-margin-clear"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 mt-5" *ngIf="list.question_type_id == 10">
                                    <div *ngFor="let item of list.answer; let j = index" class="col-md-6 mt-3 mb-3">
                                        <label>Input - {{j+1}}</label>
                                        <span *ngIf="showAnswer" [innerHTML]="item.options[0].value  | sanitizeHtml" class="form-control ml-3"></span>
                                        <input type="text" *ngIf="!showAnswer" [placeholder]="'Enter the Answer'" class="form-control ml-3">
                                    </div>
                                </div>
                                <div class="mt-3 editor_bullet col-md-12 ml-4" *ngIf="list.question_type_id == 55">
                                    <div class="essay-box" *ngIf="showAnswer">
                                        <h2>Sample Essay</h2>
                                        <p>
                                            <span *ngIf="showAnswer && list.answer[0]?.correctAnswer.trim() != ''" [innerHTML]="convertMarkdownToHtml(list.answer[0].correctAnswer)" class="mb-0 overflow-auto"></span>
                                            <span class="innerhtml-margin-clear color-primary" *ngIf="showAnswer && list.answer[0]?.correctAnswer.trim() == ''" >
                                                No Sample Essay added for this question
                                            </span>
                                        </p>
                                    </div>
<!--                                    <div class="card" *ngIf="showAnswer">-->
<!--                                        <div class="card-header p-3 background_gradient">-->
<!--                                            <h5 style="color: white" class="font-weight-bold">Sample Essay</h5>-->
<!--                                        </div>-->
<!--                                        <div class="card-body p-3 custom_feedback_card_body">-->
<!--                                            <span *ngIf="showAnswer && list.answer[0]?.correctAnswer.trim() != ''"-->
<!--                                                  [innerHTML]="convertMarkdownToHtml(list.answer[0].correctAnswer)" class="mb-0 overflow-auto"></span>-->
<!--                                            <span class="innerhtml-margin-clear color-primary" *ngIf="showAnswer && list.answer[0]?.correctAnswer.trim() == ''" >-->
<!--                                                No Sample Essay added for this question-->
<!--                                            </span>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                    <div class="col-12 mt-2 px-0 text-area" *ngIf="!showAnswer">
                                        <label><b>Correct Answer: </b></label>
                                        <textarea class="form-control" rows="10" [(ngModel)]="studentAnswer"  placeholder="Please enter your answer"></textarea>
                                        <div class="word-count">
                                            <span class="mr-2">{{wordCount()}}&nbsp;Words</span>
                                        </div>
                                    </div>
                                </div>
<!--                                <div class="col-md-12 pl-2 pr-0 m-4" *ngIf="list.question_type_id == 55">-->
<!--                                    <label *ngIf="showAnswer"><b>Sample Essay: </b></label>-->
<!--                                    <div class="col-md-12 form-span editor_bullet" style="overflow-y: scroll; max-height: 60vh">-->
<!--                                        <span style="font-size: 16px" [innerHTML]="convertMarkdownToHtml(list.answer[0]?.correctAnswer)" class="innerhtml-margin-clear"></span>-->
<!--                                    </div>-->
<!--                                    <div class="col-md-12 form-span editor_bullet" style="overflow-y: scroll; max-height: 60vh">-->
<!--                                        <span class="innerhtml-margin-clear color-primary">-->
<!--                                            No Sample Essay added for this question-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                    <div class="col-12 mt-2 px-0 text-area" *ngIf="!showAnswer">-->
<!--                                        <label><b>Correct Answer: </b></label>-->
<!--                                        <textarea class="form-control" rows="10" [(ngModel)]="studentAnswer"  placeholder="Please enter your answer"></textarea>-->
<!--                                        <div class="word-count">-->
<!--                                            <span class="mr-2">{{wordCount()}}&nbsp;Words</span>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->
                                <div class="col-12 mt-3" *ngIf="list.question_type_id == 20">
                                    <div *ngIf="showAnswer">
                                        <div class="col-12 my-2 editor_bullet" *ngFor="let answer of list.answer">
                                            <span [innerHTML]="answer.correctAnswer | sanitizeHtml"></span>
                                        </div>
                                    </div>
                                    <app-tiny-mice *ngIf="!showAnswer" [height]="120"
                                                   [showDropBtn]="false"
                                                   [showInputBtn]="false"></app-tiny-mice>
                                </div>

                                <div class="col-12 mt-3 editor_bullet" *ngIf="['21', '22'].indexOf(list.question_type_id) > -1">
                                    <span *ngIf="showAnswer" [innerHTML]="list.answer[0].correctAnswer | sanitizeHtml"></span>
                                    <app-tiny-mice *ngIf="!showAnswer" [height]="120"
                                                   [showDropBtn]="false"
                                                   [showInputBtn]="false"></app-tiny-mice>
                                </div>
                                <div *ngIf="list.question_type_id == 28" class="col-12 mt-3 editor_bullet">
                                    <span *ngIf="showAnswer" [innerHTML]="list.answer[0].correctAnswer | sanitizeHtml"></span>
                                    <app-tiny-mice *ngIf="!showAnswer" [height]="120"
                                                   [editorPatchValue]="list.options[0].options"
                                                   [showDropBtn]="false"
                                                   [showInputBtn]="false"></app-tiny-mice>
                                </div>
                                <div *ngIf="list.question_type_id == 24" class="col-12 mt-3">
                                    <div *ngFor="let item of list.subQuestions; let j = index" class="mb-3 mt-4">
                                        <div class="row d-flex justify-content-start">
<!--                                            <div>-->
<!--                                                <button class="btn-outline-primary question-no-big">{{j+1}}</button>-->
<!--                                            </div>-->
                                            <div class="pl-4 align-self-center passage-inner" [innerHTML]="item.question | sanitizeHtml"></div>
                                        </div>
                                        <div *ngIf="item.question_type_id == 1 || item.question_type_id == 2" class="mt-2">
                                            <div *ngFor="let answer of item.answer; let k = index"  class="mb-2 multiSelectCard d-flex" style="padding: 12px 16px">
                                                <!-- [ngClass]="{'question-page-selected' : (answer.correctActive === '' ? false: answer.correctActive == k) && showAnswer}" -->
                                                <span [ngClass]="{'selectColor' : (answer.correctActive === 0 ? false: answer.correctActive == 1) &&  showAnswer}" class="multichoice-option1 mr-2">{{((k+1) + 9).toString(36).toUpperCase()}}</span>
                                                <span [innerHTML]="item.options[k].options | sanitizeHtml" class="ml-3 mt-2"></span>
                                            </div>
                                        </div>
                                        <div *ngIf="item.question_type_id == 5 || item.question_type_id == 7" class="col-12 table-flexible">
                                            <table class="table table-bordered text-center col-12 mt-2">
                                                <thead>
                                                <tr>
                                                    <th>Questions</th>
                                                    <th *ngFor="let answer of item.answer; let k=index" [innerHTML]="answer | sanitizeHtml"></th>
                                                </tr>
                                                </thead>
                                                <tbody *ngIf="item.question_type_id == 5">
                                                <tr  *ngFor="let answer of item.heading_option; let k=index">
                                                    <td [innerHTML]="item.options[k].options | sanitizeHtml"></td>
                                                    <td *ngFor="let term of item.answer; let l=index">
                                                        <input [checked]="answer.correctActive === l && showAnswer" class="radio_animated" name="{{i}}choose{{j}}Cfs{{k}}p{{page}}" type="radio">
                                                    </td>
                                                </tr>
                                                </tbody>
                                                <tbody *ngIf="item.question_type_id == 7">
                                                <tr  *ngFor="let answer of item.options; let k=index">
                                                    <td [innerHTML]="answer.options | sanitizeHtml"></td>
                                                    <td *ngFor="let chk of item.answer; let l=index">
                                                        <input *ngIf="showAnswer" id="checkMultiPassage{{i}}{{j}}{{k}}{{l}}" type="checkbox">
                                                        <input *ngIf="!showAnswer" type="checkbox">
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-7 mt-3" *ngIf="item.question_type_id == 10">
                                            <div *ngFor="let ans of item.answer; let k = index" class="mb-3 d-flex justify-content-center">
                                                <div class="question-no-small">
                                                    <h6 class="mb-0">{{k+1}}</h6>
                                                </div>
                                                <span *ngIf="showAnswer" [innerHTML]="ans.options[0].value | sanitizeHtml" class="form-control ml-3"></span>
                                                <input *ngIf="!showAnswer" type="text" [placeholder]="'Enter the Correct Answer'" class="form-control ml-3">
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="['20'].indexOf(item.question_type_id) > -1">
                                            <div class="col-12 px-0 my-3 editor_bullet" *ngFor="let answer of item.answer; let i = index">
                                                <label *ngIf="showAnswer" class="col-12 px-0"><b>Correct Answer {{i + 1}}</b></label>
                                                <span *ngIf="showAnswer" [innerHTML]="answer.correctAnswer | sanitizeHtml"></span>
                                                <input *ngIf="!showAnswer" type="text" [placeholder]="'Enter the Correct Answer'" class="form-control ml-3">
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="detailData.content_format == '3' && showAnswer">
                                            <div class="card explanation">
                                                <div class="card-body">
                                                    <div class="row">
                                                        <div class="col-4 mb-3">
                                                            <label class="m-0"><b>Subject:</b></label>
                                                            <p>{{item?.subject_name ? item?.subject_name  : '-'}}</p>
                                                        </div>
                                                        <div class="col-4 mb-3">
                                                            <label class="m-0"><b>Topic:</b></label>
                                                            <p>{{item?.question_topic ? item?.question_topic : '-'}}</p>
                                                        </div>
                                                        <div class="col-4 mb-3">
                                                            <label class="m-0"><b>Sub Topic:</b></label>
                                                            <p>{{item?.sub_topic ? item?.sub_topic : '-'}}</p>
                                                        </div>
                                                        <div class="col-4 mb-3">
                                                            <label class="m-0"><b>Skill:</b></label>
                                                            <p *ngIf="item?.skill">
                                                                <span *ngIf="item?.skill.length == 0">-</span>
                                                                <span *ngFor="let skill of item?.skill; let last = last">{{skill}}<span *ngIf="!last">, </span></span>
                                                            </p>
                                                            <p *ngIf="!item.skill">-</p>
                                                        </div>
                                                        <div class="col-4 mb-3">
                                                            <label class="m-0"><b>Standard:</b></label>
                                                            <p>{{item?.question_standard_name ? item?.question_standard_name : '-'}}</p>
                                                        </div>
                                                        <div class="col-4 mb-3">
                                                            <label class="m-0"><b>Difficulty:</b></label>
                                                            <p>{{item?.level == '1' ? 'Easy' : item?.level == '2' ? 'Medium' : 'Difficult'}}</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <label class="m-0"><b>Points:</b></label>
                                                            <p>{{item?.points ? item?.points :  '-'}}</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <label class="m-0"><b>Predicted Solving Time:</b></label>
                                                            <p>{{item?.predicted_solving_time ? item?.predicted_solving_time : '-'}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="item.explanation != '' && showAnswer" class="col-md-12 mt-4 d-flex">
                                            <div class="col-md-12 px-0">
                                                <label><b>Explanation:</b></label>
                                                <div class="explanation innerhtml-margin-clear" [innerHTML]="item.explanation | sanitizeHtml"></div>
                                            </div>
                                        </div>

                                        <div *ngIf="item.resource != '' && showAnswer" class="col-md-12 mt-4 d-flex">
                                            <div class="col-md-12 px-0">
                                                <label><b>Resource:</b> </label>
                                                <div class="explanation innerhtml-margin-clear" [innerHTML]="item.resource | sanitizeHtml"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="list.question_type_id == 16" class="col-12 mt-3 d-flex">
                                    <div class="col-md-6 form-group mt-2">
                                        <label><b>Source</b></label>
                                        <!--                                <h6 *ngIf="item.target != ''" class="text-center"><b>{{item.target}}</b></h6>-->
                                        <!--                                <h6 *ngIf="item.target == ''" class="text-center"><b>Target</b></h6>-->
                                        <div *ngFor="let item of list.options" class="input-group mb-3 mt-3 inputMenu">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img class="img-fluid" alt="" src="assets/images/pdf-icons/equal@2x.png" style="width: 25px; height: 25px;"></span>
                                            </div>
                                            <div [innerHTML]="item.options | sanitizeHtml" class="w-75 px-3 pt-4 pb-3 border border-dark"></div>
                                        </div>
                                    </div>
                                    <div *ngIf="showAnswer" class="col-md-6 form-group mt-2">
                                        <label><b>Target</b></label>
                                        <!--                                <h6 *ngIf="item.target != ''" class="text-center"><b>{{item.target}}</b></h6>-->
                                        <!--                                <h6 *ngIf="item.target == ''" class="text-center"><b>Target</b></h6>-->
                                        <div *ngFor="let item of list.answer" class="input-group mb-3 mt-3 inputMenu">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img class="img-fluid" alt="" src="assets/images/pdf-icons/equal@2x.png" style="width: 25px; height: 25px;"></span>
                                            </div>
                                            <div [innerHTML]="item.correctAnswer | sanitizeHtml" class="w-75 px-3 pt-4 pb-3 border border-dark"></div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="list.question_type_id == 40 || list.question_type_id == 41" class="col-12 mt-3 justify-content-center">
                                    <app-graph-component *ngIf="showAnswer" [editMode]="false"
                                                         [editPatchValue]="parseVal(list.answer[0].correctAnswer)"
                                                         [graphId]="'preview'+i"
                                                         [questionType]="list.question_type_id"></app-graph-component>
                                    <app-graph-component *ngIf="!showAnswer" [editMode]="false"
                                                         [editPatchValue]="false"
                                                         [graphId]="'preview'+i"
                                                         [questionType]="list.question_type_id"></app-graph-component>
                                </div>
                                <div class="col-12" *ngIf="detailData.content_format == '3' && list.question_type_id != 24 && showAnswer && list.question_type_id != 55">
                                    <div class="card explanation">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-4 mb-3">
                                                    <label class="m-0"><b>Subject:</b></label>
                                                    <p>{{list?.subject_name ? list?.subject_name : '-'}}</p>
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="m-0"><b>Topic:</b></label>
                                                    <p>{{list?.question_topic ? list?.question_topic : '-'}}</p>
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="m-0"><b>Sub Topic:</b></label>
                                                    <p>{{list?.sub_topic ? list?.sub_topic : '-'}}</p>
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="m-0"><b>Skill:</b></label>
                                                    <p *ngIf="list?.skill">
                                                        <span *ngIf="list?.skill.length == 0">-</span>
                                                        <span *ngFor="let skill of list?.skill; let last = last">{{skill}}<span *ngIf="!last">, </span></span>
                                                    </p>
                                                    <p *ngIf="!list.skill">-</p>
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="m-0"><b>Standard:</b></label>
                                                    <p>{{list?.question_standard_name ? list?.question_standard_name : '-'}}</p>
                                                </div>
                                                <div class="col-4 mb-3">
                                                    <label class="m-0"><b>Difficulty:</b></label>
                                                    <p>{{list.level == '1' ? 'Easy' : list.level == '2' ? 'Medium' : 'Difficult'}}</p>
                                                </div>
                                                <div class="col-4">
                                                    <label class="m-0"><b>Points:</b></label>
                                                    <p>{{list?.points ? list?.points : '-'}}</p>
                                                </div>
                                                <div class="col-4">
                                                    <label class="m-0"><b>Predicted Solving Time:</b></label>
                                                    <p>{{list?.predicted_solving_time ? list?.predicted_solving_time : '-'}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="list.explanation != '' && list.question_type_id != 24 && showAnswer" class="col-md-12 mt-4 d-flex">
                                    <div class="col-md-12 px-0">
                                        <label><b>Explanation:</b></label>
                                        <div class="explanation innerhtml-margin-clear" [innerHTML]="list.explanation | sanitizeHtml"></div>
                                    </div>
                                </div>

                                <div *ngIf="list.resource != '' && list.question_type_id != 24 && showAnswer" class="col-md-12 mt-4 d-flex">
                                    <div class="col-md-12 px-0">
                                        <label><b>Resource:</b></label>
                                        <div class="explanation innerhtml-margin-clear" [innerHTML]="list.resource | sanitizeHtml"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="container">
                <div class="col-12 text-right">
                    <pagination-controls class="pagination1" (pageChange)="onPageChange($event)"
                                         previousLabel="Previous"
                                         nextLabel="Next"
                                         autoHide="true"
                                         maxSize="8"
                    ></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #multiChoiceDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title letter">{{quesId == '1' ? 'Multi choice Standard' : 'Multi Selection'}}</h4>
    </div>
    <div class="modal-body">
        <div class="container-fluid">
            <div class="col-12">
                <div *ngFor="let list of answerIndex; let i=index" class="mb-4 multiSelectCard" style="padding: 16px">
                    <!-- [ngClass]="{'question-page-selected' : list.active === i}" -->
                    <span [ngClass]="{'selectColor' : list.active === i}" class="multichoice-option1 mr-2">{{((i+1) + 9).toString(36).toUpperCase()}}</span>
                    <span class="mt-2">{{list.options}}</span>
                </div>
            </div>
        </div>
        <div class="modal-footer d-flex justify-content-right mt-2">
            <button (click)="close()" class="btn btn-primary" type="button">Ok</button>
        </div>
    </div>
</ng-template>
<ng-template #matchTableDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 *ngIf="this.quesId == '5'" class="modal-title letter">Match Table Standard</h4>
        <h4 *ngIf="this.quesId == '7'" class="modal-title letter">Match Table Labels</h4>
    </div>
    <div class="modal-body">
        <div class="col-12 table-flexible">
            <table class="table table-bordered text-center">
                <thead>
                <tr>
                    <th>Questions</th>
                    <th *ngFor="let list of fullData.answer; let i=index">
                        {{list.correctAnswer}}</th>
                </tr>
                </thead>
                <tbody>
                <tr  *ngFor="let list of fullData.options; let j=index">
                    <td>{{list.options}}</td>
                    <td *ngFor="let item of fullData.heading_option; let i=index">
                        <input *ngIf="this.quesId == '5'" [checked]="item.correctActive === j" class="radio_animated" name="choose{{j}}" type="radio">
                        <input *ngIf="this.quesId == '7'" [checked]="item.correctAnswer === j" type="checkbox">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer d-flex justify-content-right mt-2">
            <button (click)="close()" class="btn btn-primary" type="button">Ok</button>
        </div>
    </div>
</ng-template>
<ng-template #dropDownDetail let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 *ngIf="this.quesId == '9'" class="modal-title letter">Text Entry</h4>
    </div>
    <div class="modal-body">
        <div class="col-12">
            <span>{{fullData.answer}}</span>
        </div>
        <div class="modal-footer d-flex justify-content-right mt-2">
            <button (click)="close()" class="btn btn-primary" type="button">Ok</button>
        </div>
    </div>
</ng-template>
<ng-template #viewGraph let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="row mt-3">
            <div class="col-sm-11">
                <h5 class="text-center"><b>Graph</b></h5>
            </div>
            <div class="col-sm-1">
                <i (click)="close()" class="fa fa-close cursor"></i>
            </div>
            <div class="col-12 d-flex flex-column">
                <app-graph-component [editMode]="false"
                                     [editPatchValue]="graphShow"
                                     [graphId]="'previewGraph'"
                                     [questionType]="'40'"></app-graph-component>
            </div>
        </div>
        <button (click)="close()" class="btn btn-primary pull-right mt-4" type="button">Ok</button>
    </div>
</ng-template>
<ng-template #additionalResourceLink let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title font-weight-bold" id="modal-basic-title">Resources</h4>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row" *ngFor="let item of additionalLinks; let last = last">
                <div class="col-md-12">
                    <a class="cursor" href="{{item.link}}" target="_blank">
                        <span style="overflow: scroll; overflow-y: hidden" title="{{item.link}}">{{item.name && item.name != '' ? item.name : item.link}}</span>
                    </a>
                    <hr *ngIf="!last">
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">Cancel</button>
    </div>
</ng-template>
<!--<ng-template #viewExplain let-c="close" let-d="dismiss">-->
<!--    <div class="modal-header d-flex justify-content-between">-->
<!--        <h4>Explanation</h4>-->
<!--        <i (click)="close()" class="fa fa-close cursor"></i>-->
<!--    </div>-->
<!--    <div class="modal-body">-->
<!--        &lt;!&ndash; Container-fluid starts&ndash;&gt;-->
<!--        <div class="container-fluid">-->
<!--            <div class="row">-->
<!--                <div class="col-md-12 overflow-y-scroll">-->
<!--                    <p [innerHTML]="ExplanationPopupValue | sanitizeHtml"></p>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Container-fluid Ends&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</ng-template>-->

<ng-template #feedbackStatus>
    <div class="modal-body">
        <div class="col-12 px-0 my-3 d-flex flex-row align-items-center">
            <div class="feedback_spinner"></div>
            <span class="ml-3" style="font-size: 16px">Please wait while we load the module ...</span>
        </div>
    </div>
</ng-template>
