.sidenav {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}
.sidebar-menu-nav{
  padding: 5px !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.sidenav a {
  //padding: 4px 0 4px 0;
  text-decoration: none;
  font-size: 13px;
  color: #000000;
  display: block;
  transition: 0.3s;
}
.sidenav a:active{
  padding: 8px 0 8px 0;
  text-decoration: none;
  font-size: 13px;
  color: #7F3486;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  //position: absolute;
  //top: 0;
  color: #7F3486;
  //right: 25px;
  font-size: 36px;
  //margin-left: 50px;
}


@media screen and (max-height: 100vh) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 13px;}
}
