<div class="container-fluid" *ngIf="schoolStatus.length != 0">
    <div class="card">
        <div class="card-header">
            <h5>Global Announcement Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <div class="btn-popup pull-right">
                        <a class="btn btn-primary" [routerLink]="'/global-announcement/create-announcement/add'">Add Global Announcement</a>
                    </div>
                </div>
            </div>
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <app-table [TableType]="'GlobalAnnouncement'" [TableArray]="globalAnnouncementListData" (clickValue)="emittedValue($event)" ></app-table>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="schoolStatus.length == 0">
    <app-emptyschool>
    </app-emptyschool>
</div>
