.custom-upload-input {
  color: transparent;
}
.custom-upload-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-upload-input::before {
  content: 'Choose files';
  display: inline-block;
  background: #1d6aa5;
  border-radius: 3px;
  padding: 12px 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 11pt;
  color: #fff;
}

.container {
  display: block;
}
.custom-upload-input:hover::before {
  border-color: black;
}
.custom-upload-input:active {
  outline: 0;
}
.custom-upload-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

/////////
.telemedicineAvailability{

  .whitColr{
    color: white;
  }

  .cardStyle{
    background: #eaeaea;
    width: 18rem;
  }
  .alignCenter{
    align-self: center;
  }
  .dayTitle{
    width: 100px;;
  }
  .addBtn{
    background: white;
    color: deepskyblue;
    width: 115px;
    border-color: deepskyblue;
    border-radius: 10px;
    border-width: 1px;
  }

  .addingTimeBtn{
    background: white;
    color: deepskyblue;
    width: 30px;
    border-color: deepskyblue;
    border-radius: 10px;
    border-width: 1px;
  }

  .addUnAvlBtn{
    width: 166px;
    height: 22px;
    background: white;
    color: red;
    border-radius: 22px;
    font-size: 13px;
  }

  .badge-danger{
    width: 166px;
    height: 22px;
    border-radius: 22px;
    font-size: 13px;
  }

  .badge-primary{
    font-size: 14px;
    height: 28px;
    padding: 7px;
    background-color: #ffffff;
    color: #7F3486;
    border-color: #7F3486;
    border-style: ridge;
    border-width: 1px;
    border-radius: 5px;
  }
  .badge-grey{
    font-size: 14px;
    height: 38px;
    padding: 10px;
    background-color: #ffffff;
    color: #7F3486;
    border-color: #808080;
    border-style: ridge;
    border-width: 1px;
    border-radius: 5px;
  }
  .badge-grey i{
    color: #7F3486;
  }
  .badge-grey-selected {
    font-size: 14px;
    height: 38px;
    padding: 10px;
    background-color: #ffffff;
    color: #808080;
    border-color: #808080;
    border-style: ridge;
    border-width: 1px;
    border-radius: 5px;
  }
  .badge-btn {
    font-size: 20px;
    height: 38px;
    width: 38px;
    background-color: #ffffff;
    color: #7F3486;
    border-color: #808080;
    border-style: ridge;
    border-width: 1px;
    border-radius: 5px;
  }
  .badge-btn:hover {
    font-size: 20px;
    height: 38px;
    width: 38px;
    background-color: #7F3486;
    color: #fff;
    border-color: #7F3486;
    border-style: ridge;
    border-width: 1px;
    border-radius: 5px;
  }

  .buttonStyle{
    border-radius: 3px;
    background: forestgreen;
    width: 20%;
    color: white;
  }

}

.telemedicineaAddAvailability{
  .buttonStyle{
    width: 109px;
    border-radius: 3px;
    background: forestgreen;
    color: white;
  }

  .timer{
    margin-top: -31px;
    width: 134px;
  }



  .BtnNonSelected{
    background: white;
    color: deepskyblue;
    width: 115px;
    border-color: deepskyblue;
    border-radius: 10px;
    border-width: 1px;
  }

  .BtnSelected{
    background: #007bff;
    color: white;
    width: 115px;
    border-color: deepskyblue;
    border-radius: 10px;
    border-width: 1px;
  }

  .badge{
    width: 115px;
    font-size: 14px;
    height: 28px;
    padding: 7px;
  }
}
