.point-border-left{
  border: 1px solid #8F008A;
  border-right: 0;
  text-align: center;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.point-border-right {
  border: 1px solid #8F008A;
  text-align: center;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}

.w-95 {
  width: 95%
}
.inner_button {
  padding: 4px 8px !important;
  background: #ffff !important;
  color: black;
  border: 2px solid #e1e4eb !important;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  height: 30px;
  cursor: text;
}

.button_design {
  cursor: default;
}

.inner_button:focus, .button_design:focus {
  box-shadow: none !important;
  outline: none;
}

.button_design:active {
  color: #FFFFFF !important;
}

.inner_button:active {
  color: black !important;
}

.inner_button:focus-visible, .button_design:focus-visible {
  outline: none !important;
}

.timer_button {
  border: 1px solid #8f008a;
  background: #fff !important;
  border-radius: 4px;
}

.student-selected {
  background-color: #e9ccec !important;
  border-radius: 4px !important;
}
.correct-ans-selected {
  background-color: #d4edda !important;
  border-radius: 4px !important;
}
.wrong-ans-selected {
  background-color: #ffb7b7 !important;
  border-radius: 4px !important;
}
.img-fluid {
  height: 60px !important;
}

.answer_key {
  position: relative;
  display: inline-block;
  font-family: "Rage Italic", serif;
  font-style: italic;
  font-size: 16px;
  cursor: pointer;
  color: #007bff;
  font-weight: bold;
  transition: transform 0.3s ease, font-size 0.3s ease;
}

.answer_key::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: #007bff;
  transition: width 0.4s ease;
}

.answer_key:hover {
  transform: translateY(-4px);
  color: #007bff;
}

.answer_key:hover::after {
  width: 100%;
}
