<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-12 col-sm-12 col-lg-6 align-self-center">
            <div class="col-md-8 px-0">
                <div class="d-flex input-group align-items-baseline">
                    <input #dp="angular-mydatepicker" (click)="dp.toggleCalendar()" (dateChanged)="onDateChanged($event)"
                           [(ngModel)]="searchDate" [options]="myDpOptions" angular-mydatepicker autocomplete="off"
                           class="form-control" name="dp" placeholder="mm/dd/yyyy">
                    <div class="input-group-append">
                        <button (click)="dp.toggleCalendar()" class="btn btn-primary" type="button">
                            <i class="fa fa-calendar-o"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-lg-6 px-0 d-flex justify-content-end">
            <div class="col-12 px-1 col-sm-4 col-lg-4 align-self-center">
                <div *ngIf="auth.getRoleId() != '4'" class="pull-right">
                    <div class="input-group">
                        <input (input)="setFilter()" [(ngModel)]="searchTeacher" class="form-control" placeholder="Search Teacher" size="50" style="height:40px" type="text">
                        <div class="input-group-append">
                            <button style="padding: 6px 8px" (click)="setFilter()" class="btn btn-primary" type="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 px-1 col-sm-4 col-lg-4 align-self-center">
                <div class="pull-right">
                    <div class="input-group">
                        <input (input)="setFilter()" [(ngModel)]="searchClass" class="form-control" placeholder="Search Class" size="50" style="height:40px" type="text">
                        <div class="input-group-append">
                            <button style="padding: 6px 8px" (click)="setFilter()" class="btn btn-primary" type="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 px-1 col-sm-4 col-lg-4 align-self-center" *ngIf="auth.getRoleId() != '5'">
                <div class="pull-right">
                    <div class="input-group">
                        <input (input)="setFilter()" [(ngModel)]="searchStudent" class="form-control" placeholder="Search Student" size="50" style="height:40px" type="text">
                        <div class="input-group-append">
                            <button style="padding: 6px 8px" (click)="setFilter()" class="btn btn-primary" type="submit"><i aria-hidden="true" class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-3">
        <div class="col-12 px-0 my-3">
            <div *ngIf="scheduleData.length == 0" class="row my-3 d-flex justify-content-center align-items-center" style="height: 60vh">
                <div class="col-4">
                    <button class="nodataList">No Data Available!</button>
                </div>
            </div>
            <div *ngIf="scheduleData.length != 0" class="col-md-12 my-2 d-flex flex-wrap px-0">
                <div id="class_{{item.class_id}}schedule_{{item.schedule_id}}" *ngFor="let item of scheduleData; let j = index" class="col-12 flex-start card schedule-design class-hover cursor">
                    <div id="schedule_{{item.schedule_id}}" class="row p-3 d-flex flex-wrap" (click)="cardNavigation(item)" [attr.aria-controls]="'#studentCount' + j" [attr.data-target]="'#studentCount' + j" data-toggle="collapse">
                        <div class="col-md-8 px-0">
                            <div class="col-md-12 px-0 mb-2 d-flex justify-content-start">
<!--                                <label class="col-md-4 px-0">Class Name: </label>-->
                                <label class="mb-0 font-weight-bold px-2 py-1" style="font-size: 0.8rem; border-radius: 3px; color: grey">Class Name :</label>&nbsp;&nbsp;&nbsp;
                                <h4 class="font-weight-bold color-primary align-self-center mb-0">{{item.class_name}}
                                    <i title="New Announcement" *ngIf="item.announcement_type != '1' && !makeUpClassSelected" (click)="redirectToAnnouncement(item, $event, 'announcement')" style="font-size: 1.4rem" class="ml-2 fa fa-bullhorn color-primary" aria-hidden="true">
                                        <span *ngIf="auth.getRoleId() != '5'" class="upload-count">{{item.new_comments ? item.new_comments : 0}}</span>
                                    </i>
                                    <i title="New Inbox Message" (click)="auth.getRoleId() == '5' ? redirectToAnnouncement(item, $event, 'inbox') : classDetailsService(item, 'inbox', $event)"
                                       *ngIf="auth.getRoleId() != '2' && !makeUpClassSelected" style="font-size: 1.4rem" class="fa fa-commenting-o color-primary ml-2" aria-hidden="true">
                                        <span class="upload-count">{{item.newMessage}}</span>
                                    </i>
                                </h4>
                            </div>
                            <div *ngIf="auth.getRoleId() != '4'" class="col-md-12 px-0 d-flex justify-content-start">
                                <label class="mb-0 font-weight-bold px-2 py-1" style="font-size: 0.8rem; border-radius: 3px; color: grey;">Teacher Name :</label>
                                    <span class="font-weight-bold color-primary align-self-center">{{item.teacher_name}}</span>
                            </div>
                        </div>
                        <div class="col-md-4 px-0">
                            <div class="col-md-12 px-0 d-flex justify-content-end mb-2">
                                <span *ngIf="item.start_time != null" class=" px-1 align-self-center" style="border-radius: 2px; color: grey;">Schedule :</span><span class="font-weight-bold color-primary"> &nbsp;&nbsp;{{item.start_time + ' - ' + item.end_time}}</span>
                            </div>
                            <div class="col-md-12 px-0 d-flex justify-content-end">
                                <button *ngIf="roleId != '5' && !makeUpClassSelected" [attr.aria-controls]="'#studentCount' + j" [attr.data-target]="'#studentCount' + j" class="btn-sm-view btn-outline-primary px-2 py-1 mr-2" data-toggle="collapse">
                                    Attendance &nbsp;<small class="badge cursor align-text-bottom" style="min-width: 1.4rem; background-color: #8f008a">{{item.student_details.length}}</small></button>
                                <div *ngIf="!makeUpClassSelected" class="dropdown" (click)="$event.stopPropagation()">
                                    <button class="btn-sm-i btn-outline-primary">Action <i class="fa fa-sort-desc float-right ml-2" aria-hidden="true"></i></button>
                                    <div class="dropdown-content" style="right: 1px">
                                        <a *ngIf="item.class_type == '1' && item.schedule_id != '' && auth.getRoleId() == '5'" (click)="openZoomDialog(item)"><i class="fa fa-video-camera mr-2" style="color:#8F008A" title="Enter Online Class" ></i>Enter Online Class</a>
                                        <a (click)="openZoomDialog(item)"
                                           *ngIf="item.class_type == '1' && ['2','4'].includes(auth.getRoleId())">
                                            <span *ngIf="!customLoader"><i class="fa fa-video-camera" aria-hidden="true"></i> Start online class</span>
                                            <span *ngIf="customLoader" style="width: 1rem;height: 1rem" class="spinner-border text-secondary" role="status">
                                                        <span class="sr-only">Loading...</span>
                                                    </span></a>
                                        <a (click)="classDetailsService(item)" *ngIf="manageClass"><i class="fa fa-pencil" aria-hidden="true"></i> Edit class</a>
                                        <a *ngIf="checkClassDeleteConditions"
                                           (click)="deleteClassModal(item)"><i class="fa fa-trash" title="Delete Class" aria-hidden="true"></i>
                                            Delete Class</a>
                                        <a (click)="addStudent(item, j)" *ngIf="manageStudent"><i
                                                class="fa fa-plus-circle" aria-hidden="true"></i> Add Student</a>
                                        <a (click)="curriculum(item)"><i class="fa fa-book" aria-hidden="true"></i> Curriculum</a>
<!--                                        <a (click)="reportDetails(item)" *ngIf="roleId != '5'"><i class="fa fa-file-text-o" aria-hidden="true"></i> View class reports</a>-->
<!--                                        <a (click)="openClassNotes(j, item)" *ngIf="roleId != '5'"><i class="fa fa-newspaper-o" aria-hidden="true"></i> Edit Notes</a>-->
                                        <a (click)="shareEmail(item)" *ngIf="roleId != '5'"><i class="fa fa-share-alt" aria-hidden="true"></i> Share Class Code</a>
                                        <a (click)="openRecordingList(item)"
                                           *ngIf="item.class_type == '1' && ['2','4','5'].includes(auth.getRoleId())">
                                                        <span *ngIf="!recordLoader"><i class="fa fa-file-video-o"
                                                                                       aria-hidden="true"></i> Recording</span>
                                            <span *ngIf="recordLoader" style="width: 1rem;height: 1rem"
                                                  class="spinner-border text-secondary" role="status">
                                                    <span class="sr-only">Loading...</span>
                                                </span>
                                        </a>
                                        <a (click)="showInformation(item)"><i class="fa fa-info pl-1 pr-1" aria-hidden="true"></i> Information</a>
                                        <a *ngIf="roleId != '5'" (click)="allReports(item)"><i class="fa fa-bar-chart pr-1" aria-hidden="true"></i>Reports</a>
                                    </div>
                                </div>
                                <button (click)="confirmationForMakeUpClass(item);$event.stopPropagation();" *ngIf="makeUpClassSelected" class="btn-sm-view cancel px-2 py-1 mr-2">
                                    <i style="font-size: 16px" class="fa fa-calendar-plus-o mr-1" title="Schedule Make-up Class" aria-hidden="true"></i>Schedule Make-up Class
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="collapse my-3" id="studentCount{{j}}" *ngIf="roleId != '5'">
                        <div *ngIf="item.student_details.length == 0" class="row d-flex justify-content-center align-items-center" style="min-height: 25vh">
                            <div class="col-6 align-self-center customize-card4 text-center font-weight-bold p-3">No student Found</div>
                        </div>
                        <div class="d-flex align-items-center justify-content-end">
                            <span class="badge star_badge mr-1">★</span>
                            <span class="mx-1">-</span>
                            <span class="font-weight-bold">Make-up Student</span>
                        </div>
                        <table *ngIf="item.student_details.length != 0" class="table table-hover mt-2">
                            <thead class="thead-light">
                            <tr>
                                <th class="d-flex align-items-center">Student Name <small class="badge badge-success ml-2">{{item.student_details.length}}</small></th>
                                <th class="text-center">Grade Name</th>
                                <th *ngIf="!makeUpClassSelected" class="text-center border-0">Present</th>
                                <th *ngIf="!makeUpClassSelected" class="text-center border-0">Absent</th>
<!--                                <th *ngIf="(currentDate == searchDate1 || lesserThanCurrentDate) && !makeUpClassSelected" class="text-center border-0">Present</th>-->
<!--                                <th *ngIf="(currentDate == searchDate1 || lesserThanCurrentDate) && !makeUpClassSelected" class="text-center border-0">Absent</th>-->
<!--                                <th *ngIf="currentDate != searchDate1 && !makeUpClassSelected && !lesserThanCurrentDate" class="text-center border-0">Attendance</th>-->
                                <th *ngIf="!makeUpClassSelected" class="text-center border-0">Make-up Class</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr *ngFor="let list of item.student_details; let i = index">
                                <th class="d-flex justify-content-between">
                                    <div class="d-flex align-items-center">
                                        <span *ngIf="list.student_class_type == '2'" class="badge star_badge mr-1">★</span>
                                        <span (click)="getStudentFullDetail(list)" class="cursor name-hover">{{list.student_name}}</span>
                                    </div>
                                    <i (click)="openNotes(item, list)" class="fa fa-newspaper-o align-self-center color-primary cursor" title="Add notes"></i></th>
                                <th class="radial-bar-primary text-center">
                                    <span>{{list?.student_grade_name != '' ? list?.student_grade_name ?? '-' : '-'}}</span>
                                </th>
<!--                                <th class="radial-bar-primary text-center" *ngIf="(currentDate == searchDate1 || lesserThanCurrentDate) && !makeUpClassSelected">-->
                                <th class="radial-bar-primary text-center" *ngIf="!makeUpClassSelected">
                                    <input (change)="clickEve(list, 'present', $event, item)" [disabled]="list.attendance == '0'"
                                           class="cursor" [checked]="list.attendance == '1'" name="{{j}}attendence{{i}}" type="checkbox">
                                </th>
<!--                                <th class="radial-bar-primary text-center" *ngIf="(currentDate == searchDate1 || lesserThanCurrentDate) && !makeUpClassSelected">-->
                                <th class="radial-bar-primary text-center" *ngIf="!makeUpClassSelected">
                                    <div class="d-flex align-items-center justify-content-center">
                                        <input (change)="clickEve(list, 'absent', $event, item)" [checked]="list.attendance == '0'"
                                               class="cursor" name="{{j}}attendence{{i}}" type="checkbox" [disabled]="list.attendance == '1' || list.makeup_class_id != ''">
                                    </div>
                                </th>
<!--                                <th class="radial-bar-primary d-flex align-items-center justify-content-center" *ngIf="(currentDate == searchDate1 || lesserThanCurrentDate) && !makeUpClassSelected">-->
<!--                                    <button (click)="addMakeUpClass(list, item)" *ngIf="list.makeup_class_id == '' && list.attendance == '0' && (auth.getRoleId() == '2' || (auth.getRoleId() == '4' && auth.getSessionData('teacher_type') != '0'))" class="btn-sm-view cancel ml-2 px-2 py-1">-->
<!--                                        <i style="font-size: 16px" class="fa fa-calendar-plus-o mr-1" title="Schedule Make-up Class" aria-hidden="true"></i>Schedule Make-up Class-->
<!--                                    </button>-->
<!--                                    <label *ngIf="list.makeup_class_id != '' && ['0', ''].indexOf(list.attendance) > - 1" class="makUpClass_text mb-0 ml-2">-->
<!--                                        <span style="font-size: 14px" class="ml-1 color-primary font-weight-bold">{{list.makeup_class_name}} - {{list.makeup_class_date | customDateFormat}}</span>-->
<!--                                    </label>-->
<!--                                    <label *ngIf="list.makeup_class_id == '' && list.attendance == ''" class="makUpClass_text mb-0 ml-2">-->
<!--                                        <span style="font-size: 14px" class="ml-1 color-primary font-weight-bold">-</span>-->
<!--                                    </label>-->
<!--                                    <i (click)="voidFunctionCalled(item, i)" title="Void Class"-->
<!--                                       *ngIf="list.makeup_class_id != '' && ['0', ''].indexOf(list.attendance) > - 1 && list.allow_void_class" style="font-size: 18px"-->
<!--                                       class="fa fa-times-circle color-red ml-2"></i>-->
<!--                                </th>-->
<!--                                <th class="radial-bar-primary text-center" *ngIf="currentDate != searchDate1 && !makeUpClassSelected && !lesserThanCurrentDate">-->
<!--                                <th class="radial-bar-primary text-center" *ngIf="!makeUpClassSelected && !lesserThanCurrentDate">-->
<!--                                    <i *ngIf="list.attendance == '1'" style="font-size: 18px" class="fa fa-check-circle color-green"></i>-->
<!--                                    <i *ngIf="['0', ''].indexOf(list.attendance) > -1 && !lesserThanCurrentDate" style="font-size: 18px" class="fa fa-times-circle color-red"></i>-->
<!--                                    <span *ngIf="list.attendance == '' && lesserThanCurrentDate">-</span>-->
<!--                                </th>-->
<!--                                <th class="radial-bar-primary d-flex align-items-center justify-content-center" *ngIf="!makeUpClassSelected && !lesserThanCurrentDate">-->
                                <th class="radial-bar-primary d-flex align-items-center justify-content-center" *ngIf="!makeUpClassSelected">
                                    <span *ngIf="list.attendance != '0' && list.makeup_class_id == ''">-</span>
                                    <button (click)="addMakeUpClass(list, item)" *ngIf="list.makeup_class_id == '' && ['0'].indexOf(list.attendance) > -1
                                       && (auth.getRoleId() == '2' || (auth.getRoleId() == '4' && auth.getSessionData('teacher_type') != '0'))"
                                            class="btn-sm-view cancel ml-2 px-2 py-1">
                                        <i style="font-size: 16px" class="fa fa-calendar-plus-o mr-1" title="Schedule Make-up Class" aria-hidden="true"></i>Schedule Make-up Class
                                    </button>
                                    <h6 *ngIf="list.makeup_class_id != '' && ['0', ''].indexOf(list.attendance) > - 1" class="makUpClass_text ml-2 my-1">
                                        <span style="font-size: 14px" class="ml-2 color-primary font-weight-bold">{{list.makeup_class_name}} - {{list.makeup_class_date | customDateFormat}}</span>
                                    </h6>
                                    <i (click)="voidFunctionCalled(item, i)" title="Void Class"
                                       *ngIf="list.makeup_class_id != '' && ['0', ''].indexOf(list.attendance) > - 1 && list.allow_void_class" style="font-size: 18px"
                                       class="fa fa-times-circle color-red ml-2"></i>
                                </th>
                            </tr>
                            </tbody>
                        </table>
<!--                        <div *ngIf="searchDate1 == currentDate && item.student_details.length != 0" class="col-12 px-0">-->
<!--                            <button (click)="updateStudentAnnotate(item)" class="btn-sm btn-primary pull-right">Update Attendance</button>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #viewoveralldetails let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title color-primary" id="modal-basic-title">{{studentName}} Overall details</h4>
        <i (click)="closeOverAll()" aria-hidden="true"
           class="fa fa-close fa-lg mt-1" style="color:#7F3486; cursor: pointer; float: right;"></i>
    </div>
    <div class="modal-body">
        <app-overalldetails
                [studentdata]="viewdetail"
        >
        </app-overalldetails>
    </div>
</ng-template>
<ng-template #zoomDialog let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title text-center">Zoom Meet</h4>
        <i (click)="modalRef.close()" class="fa fa-close cursor" ></i>
    </div>
    <div class="modal-body d-flex justify-content-right">
        <div class="col-12 text-center">
            <h5>Open zoom in </h5>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="modalRef.close();zoomService.initZoomMeeting(selectedClass)" class="btn btn-primary">In App</button>
        <button (click)="navigateOutsideZoom(this.selectedClass.availabilityDate[0])" class="btn btn-outline-primary" type="button">New Tab</button>
    </div>
</ng-template>
<ng-template #zoomDialog1 let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title text-center">Zoom Meet</h4>
        <i (click)="modalRef.close()" class="fa fa-close cursor" ></i>
    </div>
    <div class="modal-body d-flex justify-content-right">
        <div class="col-12 text-center">
            <h5>No Zoom Meet Scheduled for this day</h5>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="modalRef.close();" class="btn btn-primary">OK</button>
    </div>
</ng-template>
<ng-template #reports>
    <div class="modal-header align-items-center">
        <h4 class="modal-title">Report</h4>
        <i (click)="modalRef.close()" class="fa fa-close cursor" ></i>
    </div>
    <div class="modal-body">
        <app-missed-work-report
                [classShow] = "true"
                [contentNameValue]= "contentNameValue"
                [showContent]= "'other'"
                [studentView]= "false"
                [timeView]= "true"
        >
        </app-missed-work-report>
    </div>
</ng-template>

<ng-template #notes let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title text-center">Add Notes</h4>
        <i (click)="modalRef.close()" class="fa fa-close cursor"></i>
    </div>
    <div class="modal-body">
        <div class="row d-flex justify-content-center">

            <div class="col-11 mt-2 card class-card1 class-hover w-99" *ngFor="let list of notesList; let i = index">
                <div class="row" *ngIf="list.created_date != '00-00-0000'">
                    <div class="col-9" style="word-wrap: break-word;">
                        <p class="py-2"><span class="letter" *ngIf="list.created_by != '' && list.created_date != ''"><strong>{{list.created_by}}</strong> - <small>{{list.created_date | customDateFormat}}</small><br></span></p>
                        <p><span [innerHTML]="list.notes" class="mb-0 mt-3"></span></p>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end">
                        <i class="fa fa-trash fa-1x text-danger" aria-hidden="true" style="cursor:pointer" (click)="deleteNotes(list)"></i>
                    </div>
                </div>
            </div>

            <div class="col-11 mt-2">
                <app-tiny-mice  (emitEditorValue)="getEditorValue($event)"
                                [editorPatchValue]="false"
                                [height]="300"
                                [id]="'notes'"
                                [showDropBtn]="false"
                                [showInputBtn]="false">
                </app-tiny-mice>
            </div>
            <div class="col-11 text-right mt-2">
                <button (click)="addNotes()" class="btn btn-primary" type="button">Add</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #writeNoteOpen let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title text-center">Add Notes</h4>
        <i class="fa fa-close cursor" (click)="modalRef.close()" ></i>
    </div>
    <div class="modal-body">
        <div class="row d-flex justify-content-center">
            <div class="col-11 mt-2 card class-card1 class-hover w-99" *ngFor="let list of classNotesList; let i = index">
                <div class="row" *ngIf="list.add_date != '00-00-0000'">
                    <div class="col-9" style="word-wrap: break-word;">
                        <p class="py-2"><span class="letter" *ngIf="list.created_by != '' && list.add_date != ''"><strong>{{list.created_by}}</strong> - <small>{{list.add_date | customDateFormat}}</small><br></span></p>
                        <p><span [innerHTML]="list.note" class="mb-0 mt-3"></span></p>
                    </div>
                    <div class="col-3 d-flex align-items-center justify-content-end">
                        <i class="fa fa-trash fa-1x text-danger" aria-hidden="true" style="cursor:pointer" (click)="deleteClassNote(list)"></i>
                    </div>
                </div>
            </div>
            <div class="col-11 mt-2">
                <app-tiny-mice (emitEditorValue)="getEditorValue($event)"
                                [editorPatchValue]="false"
                                [height]="300"
                                [id]="'notes'"
                                [showDropBtn]="false"
                                [showInputBtn]="false">
                </app-tiny-mice>
            </div>
            <div class="col-11 text-right mt-2">
                <button type="button" (click)="modalRef.close()" class="btn btn-outline-primary mr-2">Close</button>
                <button type="button" (click)="addClassNote()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</ng-template>


<ng-template #addMultipleEmailDialog let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title text-center">Invite By Email</h4>
        <i class="fa fa-close cursor" (click)="modalRef.close()"></i>
    </div>
    <div class="modal-body">
        <div class="col-sm-12">

            <form [formGroup]="studentEmailForm">
                <mat-form-field class="col-12">
                    <mat-chip-grid #chipList formArrayName="emails">
                        <mat-chip-row [color]="(item.invalid)?'warn':''" selected *ngFor="let item of emailList; let i=index" [removable]="removable"
                                  (removed)="removeEmail(item)" required name="chips">{{item.value}}
                            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                        </mat-chip-row>
                        <input placeholder="Enter Email Id" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
                               (matChipInputTokenEnd)="add($event)" />

                    </mat-chip-grid>
                </mat-form-field>
                <mat-error class="col-12" *ngIf="!validationEmail && emailList.length != 0">Invalid email ID</mat-error>
                <div class="col-12">
                    <p>Note: You can give comma separator email-Id and press enter.</p>
                </div>

                <div class="col-12">
                    <p class="my-2" style="color: black">
                        <span><p class="mt-2 mb-3" style="color: black">
                        ClassCode : <strong> {{selectClassData.class_code}} </strong> <br>

                        If you are new to edquill, use the below URL to register and join class<br>

                            <span class="color-primary">{{env.envProperties.envURL + '#/auth/login/studentRegister/'+ selectClassData.class_code}}</span><br><br>

                        If you are an existing user, use the below URL to login and join class<br>

                            <span class="color-primary">{{env.envProperties.envURL + '#/enrollclasscode/'+ selectClassData.class_code}}</span><br>

                        </p>
                    </span>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-outline-primary" type="button" (click)="bulkMail()"
                [disabled]="!validationEmail && emailList.length != 0">Submit
        </button>
    </div>
</ng-template>

<ng-template #showInform>
    <div class="modal-header align-items-center">
        <h4 class="modal-title">Info</h4>
        <i class="fa fa-close cursor" (click)="modalRef.close()" ></i>
    </div>
    <div class="modal-body">
        <p class="p-0" *ngIf="classInfo?.class_start_date != ''"><small class="letter">Start Date: </small> <span class="t-name font-weight-bold">{{classInfo.class_start_date}}</span></p>
        <p class="p-0" *ngIf="classInfo?.class_end_date != ''"><small class="letter">End Date: </small> <span class="t-name font-weight-bold">{{classInfo.class_end_date}}</span></p>
        <p class="p-0" *ngIf="classInfo?.subject_name != ''"><small class="letter">Subject: </small> <span class="t-name font-weight-bold">{{classInfo.subject_name}}</span></p>
        <p class="p-0" *ngIf="classInfo?.grade_name != ''"><small class="letter">Grade: </small> <span class="t-name capital font-weight-bold">{{classInfo.grade_name}}</span></p>
<!--        <p class="p-0" *ngIf="teacherType != 1 || auth.getRoleId() == '2' || auth.getRoleId() == '6' && classInfo?.classroom_name != ''"><span><small class="font-weight-bold">Content Folder: </small> <span class="t-name capital font-weight-bold">{{classInfo.classroom_name}}</span></span></p>-->
        <!--        <p class="p-0" ><span class="letter">class code: </span> <span class="t-name font-weight-bold">{{classInfo.class_code}}</span></p>-->
<!--        <p class="p-0"><span class="letter">Assessment: </span> <span class="t-name">{{classInfo.no_of_assessments}}</span></p>-->
<!--        <p class="p-0"><span class="letter">Assignment: </span> <span class="t-name">{{classInfo.no_of_assignments}} </span></p>-->
<!--        <p class="p-0"><span class="letter">Resources: </span> <span class="t-name">{{classInfo.no_of_resources}} </span></p>-->
    </div>

</ng-template>

<ng-template #deleteClass let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title align-items-center">Delete Class</h4>
        <i class="fa fa-close cursor" (click)="modalRef.close()"></i>
    </div>
    <div class="modal-body">
        <div class="col-md-12">
            <p class="mb-0"><strong>Are you sure to delete the <span class="color-primary">{{classDetails.class_name}}</span> class?</strong>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn cancel" type="button" (click)="modalRef.close()">close</button>
        <button class="btn btn-primary" type="button" (click)="deleteClassList()">Ok</button>
    </div>
</ng-template>

<ng-template #voidClass>
    <div class="modal-header align-items-center">
        <h5 class="modal-title align-items-center font-weight-bold">Void Class</h5>
        <i class="fa fa-close cursor" (click)="modalRef.close()"></i>
    </div>
    <div class="modal-body">
        <div class="col-md-12 px-0">
            <p class="mb-0"><strong>
                Are you sure want to void the class for <span class="color-primary">{{voidClassData.student_details[voidClassIndex]?.student_name}}</span> in
                <span class="color-primary">{{voidClassData.student_details[voidClassIndex]?.makeup_class_name}}</span>?</strong>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn cancel" type="button" (click)="modalRef.close()">Cancel</button>
        <button class="btn btn-primary" type="button" (click)="deleteStudentList()">Yes</button>
    </div>
</ng-template>

<ng-template #addStudentDialog class="customModalRef" let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <div class="col-7 pl-0">
            <h4 class="modal-title font-weight-bold">Add Student</h4>
            <label *ngIf="addStudentEnabled" class="text-muted mb-0">All fields marked with <span class="text-danger">*</span> are required</label>
        </div>
        <div class="col-5 d-flex justify-content-end align-items-center pr-0">
            <button *ngIf="!addStudentEnabled" class="btn cancel" title="Invite By Email" (click)="shareEmail(selectClassData, 'addStudent')">
                Invite By Email
            </button>
            <button *ngIf="addStudentEnabled" class="btn cancel" (click)="searchStudentList(1);addStudentClicked()"><i class="fa fa-long-arrow-left mr-1"></i>Back</button>
            <i class="fa fa-close cursor ml-3" (click)="closeStudentModRef()" title="Close Add Student"></i>
        </div>
    </div>
    <div class="modal-body row">
        <div class="col-md-9 form-group" *ngIf="!addStudentEnabled">
            <label style="font-weight: 600">Grade</label>
            <ng-select [items]="gradeData"
                       bindLabel="grade_name"
                       bindValue="grade_id"
                       placeholder="Select Grade"
                       typeToSearchText=""
                       multiple="true"
                       [(ngModel)]="gradName"
                       (change)="getGradeValue($event)"
            >
            </ng-select>
        </div>
        <div class="col-md-9 form-group" *ngIf="!addStudentEnabled">
            <label style="font-weight: 600">Student Name<span class="text-danger ml-1">*</span></label>
            <ng-multiselect-dropdown #multiSelect
                                     [placeholder]="'Select Student'"
                                     [data]="studentDataList"
                                     [settings]="settings"
                                     [disabled]="false"
                                     [(ngModel)]="studentName"
                                     (onSelect)="onItemSelect($event, 'single')"
                                     (onDeSelect)="onDeSelect($event)"
                                     (onSelectAll)="onItemSelect($event, 'all')"
                                     (onDeSelectAll)="onDeSelectAll()">
            </ng-multiselect-dropdown>
        </div>
        <div class="col-md-3 form-group align-content-end" *ngIf="!addStudentEnabled">
            <button (click)="addStudentClicked()" class="btn btn-primary"><i class="fa fa-plus-circle mr-1"></i>Add Student</button>
        </div>

        <div class="col-md-9 row" *ngIf="!addStudentEnabled">
            <label style="font-weight: 600" class="col-12">Class Type<span class="text-danger ml-1">*</span></label>
            <div class="col-3">
                <div class="form-check">
                    <input class="form-check-input cursor" id="regular" type="radio" name="studentType" value="0" [(ngModel)]="studentAddedType"
                           [checked]="studentAddedType == '0'">
                    <label class="form-check-label cursor" for="regular">Regular</label>
                </div>
            </div>
            <div class="col-4">
                <div class="form-check">
                    <input class="form-check-input cursor" id="makeUp" type="radio" value="1" name="studentType"
                           [checked]="studentAddedType == '1'" [(ngModel)]="studentAddedType">
                    <label class="form-check-label cursor" for="makeUp">Make-up Class</label>
                </div>
            </div>
        </div>

        <div class="col-md-9 row mt-3" *ngIf="!addStudentEnabled && studentAddedType == '1'">
            <label style="font-weight: 600" class="col-12">
                Effective Date<span class="text-danger ml-1">*</span></label>
            <div class="col-xl-8 col-md-7">
                <div class="d-flex align-items-baseline">
                    <input class="form-control" placeholder="mm/dd/yyyy"
                           name="dp2" angular-mydatepicker (click)="dp2.toggleCalendar()"
                           #dp2="angular-mydatepicker" [(ngModel)]="effectiveStartDate"
                           [options]="myDpOptions1" autocomplete="off"
                           required>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-primary" (click)="dp2.toggleCalendar()">
                            <i class="fa fa-calendar-o"></i></button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12" [ngbCollapse]="!addStudentEnabled">
            <form [formGroup]="addStudentForm">
                <div class="form-group row">
                    <label for="validationCustom0" class="col-xl-3 col-md-4">
                        First Name<span class="text-danger ml-1">*</span></label>
                    <div class="col-xl-8 col-md-7">
                        <input class="form-control " formControlName="first_name" id="validationCustom0"
                               type="text" placeholder="First Name" required>
                        <em class="error" *ngIf="!addStudentForm.get('first_name').valid && (addStudentForm.get('first_name').dirty
                                || addStudentForm.get('first_name').touched)">First name is required</em>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validationCustom1" class="col-xl-3 col-md-4">
                        Last Name<span class="text-danger ml-1">*</span></label>
                    <div class="col-xl-8 col-md-7">
                        <input class="form-control" formControlName="last_name" id="validationCustom1"
                               type="text" placeholder="Last Name" required>
                        <em class="error" *ngIf="!addStudentForm.get('last_name').valid && (addStudentForm.get('last_name').dirty ||
                                addStudentForm.get('last_name').touched)">Last name is required</em>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="validationCustom5" class="col-xl-3 col-md-4">
                        Email Address<span class="text-danger ml-1">*</span></label>
                    <div class="col-xl-8 col-md-7">
                        <input class="form-control" formControlName="email_id" id="validationCustom5" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"
                               type="email" placeholder="Email" required>
                        <em class="error" *ngIf="addStudentForm.get('email_id').hasError('required') && (addStudentForm.get('email_id').dirty
                                || addStudentForm.get('email_id').touched)">Email is required</em>
                        <em class="error" *ngIf="addStudentForm.get('email_id').hasError('pattern')">Invalid Email-Id</em>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="validationCustom5" class="col-xl-3 col-md-4">
                        Grade<span class="text-danger ml-1">*</span></label>
                    <div class="col-xl-8 col-md-7">
                        <ng-select [items]="gradeData"
                                   bindLabel="grade_name"
                                   bindValue="grade_id"
                                   formControlName="grade"
                                   placeholder="Select Grade"
                                   typeToSearchText=""
                        >
                        </ng-select>
                        <em class="error" *ngIf="!addStudentForm.get('grade').valid && (addStudentForm.get('grade').dirty ||
                                addStudentForm.get('grade').touched)">Grade is required</em>
                    </div>
                </div>
            </form>
        </div>

    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" type="button" (click)="addStudentEnabled ? addstudent() : submitClass()">Submit</button>
    </div>
</ng-template>

<ng-template #addStudentDialog class="customModalRef" let-c="close" let-d="dismiss">
    <div class="modal-header d-flex align-items-center">
        <h4 class="modal-title pl-0 col-7">Add Student</h4>
        <div class="col-5 d-flex justify-content-end align-items-center pr-0">
            <button class="btn cancel" title="Invite By Email" (click)="shareEmail(selectClassData, 'addStudent')">
                Invite By Email
            </button>
            <i class="fa fa-close cursor ml-3" (click)="closeStudentModRef()" title="Close Add Student"></i>
        </div>
    </div>
    <div class="modal-body">
        <div class="col-md-10 form-group">
            <label>Grade</label>
            <ng-select [items]="gradeData"
                       bindLabel="grade_name"
                       bindValue="grade_id"
                       placeholder="Select Grade"
                       typeToSearchText=""
                       multiple="true"
                       [(ngModel)]="gradName"
                       (change)="getGradeValue($event)"
            >
            </ng-select>
        </div>
        <div class="col-md-10 form-group">
            <label>Student Name<span class="text-danger ml-1">*</span></label>
            <ng-multiselect-dropdown
                                     [placeholder]="'Select Student'"
                                     [data]="studentDataList"
                                     [settings]="settings"
                                     [disabled]="false"
                                     [(ngModel)]="studentName"
                                     (onSelect)="onItemSelect($event, 'single')"
                                     (onDeSelect)="onDeSelect($event)"
                                     (onSelectAll)="onItemSelect($event, 'all')"
                                     (onDeSelectAll)="onDeSelectAll()">
            </ng-multiselect-dropdown>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-outline-primary" (click)="submitClass()" type="button">Submit</button>
    </div>
</ng-template>

<ng-template #recordinglist let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h4 class="modal-title text-center">Recordings</h4>
        <i class="fa fa-close cursor" (click)="modalRef.close()"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12 home-sec-scroll {{videoSource.length != '0' ? '' : 'align-content-center'}}">
                <div class="row">
                    <div *ngFor="let source of videoSource;let i=index" class="col-md-12 mt-1 cursor">
                        <div class="card">
                            <div (click)="navigateOutsideRecording(source)" class="card-body card-hover2">
                                <div class="row">
                                    <div class="col-4 align-self-center">
                                        <p><span>Start: </span> <span *ngIf="source.recording_start != '0000-00-00'"
                                                                      class="t-name font-weight-bold"
                                                                      style="font-size: 11px;">{{source.recording_start|date:'MM/dd/yyyy'}}
                                            &nbsp;{{source.recording_start}}</span>
                                        </p>
                                    </div>
                                    <div class="col-4 align-self-center">
                                        <p>
                                            <span>End: </span> <span *ngIf="source.recording_end != '0000-00-00'"
                                                                     class="t-name font-weight-bold"
                                                                     style="font-size: 11px;">{{source.recording_end|date:'MM/dd/yyyy'}}
                                            &nbsp;{{source.recording_end}}</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="videoSource.length == 0" class="col-md-12 mt-1">
                        <div class="card" style="box-shadow: 2px 2px 2px 2px #e6baea">
                            <div class="card-body" style="align-self: center;">
                                <div class="row">
                                    <span style="color: #8F008A">No Recordings Available</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="modalRef.close();">close</button>
    </div>
</ng-template>

<ng-template #confirmation let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h5 class="modal-title align-items-center font-weight-bold">Schedule Make-up Class</h5>
        <i class="fa fa-close cursor" (click)="modalRef.close()"></i>
    </div>
    <div class="modal-body">
        <div class="col-md-12 px-0">
            <p class="mb-0"><strong>
                Are you sure want to schedule make-up class for the student <span class="color-primary">{{selectedClass.student_name}}</span> in
                <span class="color-primary">{{selectedFormakeUpClass.class_name}}</span>?</strong>
            </p>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn cancel" type="button" (click)="modalRef.close()">No</button>
        <button class="btn btn-primary" type="button" (click)="submitMakeUpClass(selectedFormakeUpClass)">Yes</button>
    </div>
</ng-template>

