<div class="container">
    <button class="classic-btn" id="convertText" (click)="convert('text');" >ConvertText</button>
    <button class="classic-btn"  (click)="convertHW('text');" >Converthandwritingtext</button>
    <div style="height: 500px; border: 1px solid red; margin-top: 1rem;" class="row" id="textEditor" #tref ></div>

    <button class="classic-btn" id="convertMath" (click)="convert('math');" >ConvertMath</button>
    <button class="classic-btn"  (click)="convertHW('math');" >ConverthandwritingMath</button>
    <div style="height: 500px; border: 1px solid greenyellow; margin-top: 1rem;"class="row" id="mathEditor" #mref ></div>


    <button class="classic-btn" id="convertDiagram" (click)="convert('diagram');" >ConvertDiagram</button>
    <button class="classic-btn"  (click)="convertHW('diagram');" >ConverthandwritingDiagram</button>
    <div style="height: 500px; border: 1px solid blueviolet; margin-top: 1rem;"class="row" id="diagramEditor" #dref ></div>

</div>






<!--ristacc@gmail.com') OR 1 = 1 &#45;&#45; ]-->
