<div class="container">
<!--    <button class="classic-btn"  (click)="convertHW();" >Converthandwritingtext</button>-->
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-outline-primary mb-2 mr-2" id="convert" (click)="convert();" >Convert</button>
            <button class="btn btn-outline-primary mb-2">Reset</button>
        </div>
    </div>
    <div style="height: 500px; border: 1px solid red; margin-top: 1rem;" class="row" id="textEditor" #tref ></div>
</div>






<!--ristacc@gmail.com') OR 1 = 1 &#45;&#45; ]-->
