<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5 class="text-capitalize" *ngIf="type == 'add'">Add Institution</h5>
                    <h5 class="text-capitalize" *ngIf="type == 'edit'">Edit Institution</h5>
                    <label class="text-muted">All fields marked with <span class="text-danger">*</span> are required</label>
                </div>
                <div class="card-body tab2-card">
                    <form [formGroup]="schoolform" class="needs-validation user-add" >
                        <div class="form-group row">
                            <label for="validationCustom4" class="col-xl-3 col-md-4"><span>*</span>
                                Institution Name</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control " formControlName="schoolName" id="validationCustom4"
                                       type="text" placeholder="Institution Name" required="">
                                <em class="error" *ngIf="!schoolform.get('schoolName').valid && (schoolform.get('schoolName').dirty || schoolform.get('schoolName').touched)">Institution Name is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom4" class="col-xl-3 col-md-4"><span>*</span>
                                Type of Institution</label>
                            <div class="col-xl-8 col-md-7">
                                <select class="form-control " formControlName="institutiontype">
                                    <option value="" disabled selected>Please Choose Institution type</option>
                                    <option value="1"> Public Institution</option>
                                    <option value="3">Private Institution</option>
                                    <option value="4">Learning Center</option>
                                    <option value="5">Tutoring</option>
                                </select>
                                <em class="error" *ngIf="!schoolform.get('institutiontype').valid && (schoolform.get('institutiontype').dirty || schoolform.get('institutiontype').touched)">Institution type is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom5" class="col-xl-3 col-md-4"><span>*</span>
                                Address 1</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="address1" id="validationCustom5"
                                       type="text" placeholder="Address1" required="">
                                <em class="error" *ngIf="!schoolform.get('address1').valid && (schoolform.get('address1').dirty || schoolform.get('address1').touched)">Address 1 is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom6" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Address 2</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="address2" id="validationCustom6"
                                       type="text"placeholder="Address2" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom7" class="col-xl-3 col-md-4"><span>*</span>
                                City</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="city" id="validationCustom7"
                                       type="text" placeholder="City" required="">
                                <em class="error" *ngIf="!schoolform.get('city').valid && (schoolform.get('city').dirty || schoolform.get('city').touched)">City is required</em>
                            </div>
                        </div>


                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span>*</span>
                                State</label>
                            <div class="col-xl-8 col-md-7">
                                <ng-select [items]="stateListData"
                                           bindLabel="name"
                                           bindValue="state_id"
                                           formControlName="state"
                                           placeholder="Please Select"
                                >
                                </ng-select>
                                <em class="error" *ngIf="schoolform.get('state').hasError('required') && (schoolform.get('state').dirty || schoolform.get('state').touched)">State is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span>*</span>
                                Country</label>
                            <div class="col-xl-8 col-md-7">
                                <ng-select [items]="countryListData"
                                           bindLabel="name"
                                           bindValue="country_id"
                                           formControlName="country"
                                           placeholder="Please Select"
                                           (change)="stateList($event.country_id)"
                                >
                                </ng-select>
                                <em class="error" *ngIf="!schoolform.get('country').valid && (schoolform.get('country').dirty || schoolform.get('country').touched)">Country is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom10" class="col-xl-3 col-md-4"><span>*</span>
                                Zip </label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="postalCode" id="validationCustom10"
                                       type="text" placeholder="Enter Zip" (keypress)="numberPattern($event)" minlength="3" maxlength ="9" required="">
                                <em class="error" *ngIf="!schoolform.get('postalCode').valid && (schoolform.get('postalCode').dirty || schoolform.get('postalCode').touched)">Postal Code is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <!--                        <div class="form-check-inline">-->
                            <div class="col-xl-3 col-md-4">
                                <label class="form-check-label"><span style="visibility: hidden">*</span>
                                    Is group of schools</label>
                            </div>
                            <div class="col-xl-8 col-md-7" style="position: relative; left: 1.5rem">
                                <input type="checkbox" class="form-check-input" formControlName="isgroup1" (change)="checkValue($event)" >Yes
                            </div>
                        </div>

                        <div class="form-group row" *ngIf="branchSelect">
                            <label class="col-xl-3 col-md-4"><span>*</span>
                                Corporate Name</label>
                            <div class="col-xl-8 col-md-7">
                                <ng-select [items]="listData"
                                           bindLabel="corporate_name"
                                           bindValue="corporate_id"
                                           formControlName="branchName"
                                           placeholder="Please Select"
                                           [required]="schoolform.controls.isgroup1.value == true"
                                >
                                </ng-select>
                                <em class="error" *ngIf="!schoolform.get('branchName').valid && (schoolform.get('branchName').dirty || schoolform.get('branchName').touched)">Corporate is required</em>
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="validationCustom13" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Tax ID</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="taxId" id="validationCustom13"
                                       type="text" placeholder="Tax ID">
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="validationCustom13" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Institution Website</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="website" id="validationCustom33"
                                       type="url" placeholder="Institution Website" pattern="https?://.+">
                                <em class="error" *ngIf="schoolform.get('website').hasError('pattern')">Please Enter valid Website Link</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span>*</span>
                                Status</label>
                            <div class="col-xl-8 col-md-7">
                                <select class="form-control " formControlName="status">
                                    <option value="1">Active</option>
                                    <option value="2">Inactive</option>
                                    <!--                                    <option value="3">payment pending</option>-->
                                </select>
                                <em class="error" *ngIf="!schoolform.get('status').valid && (schoolform.get('status').dirty || schoolform.get('status').touched)">status is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span> Profile Photo</label>
                            <div class="col-xl-6 col-md-4">
                                <input #myInput type="file" class="custom-upload-input" (change)="encodeImageFileAsURL($event)" >
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xl-3 col-md-4"  style="position: relative;left: 25%">
                                <div class="files-list fit-img" *ngFor="let file of imagepath;let i= index">
                                    <img *ngIf="imagepath != ''"  [src]="sanitizer.bypassSecurityTrustResourceUrl(webhost + '/' + file)"  class="w-95" alt="">
                                    <i *ngIf="imagepath != ''" class="fa fa-times" style="position: relative; right: 26px; bottom: 85px; cursor: pointer;  background: #eeeeee;
       padding: 10px; border-radius: 45px;" title="close" (click)="deleteImg()" ></i>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <hr>
                        </div>
                        <div *ngIf="type == 'add'">
                        <div class="card-header" style="position: relative; right: 22px">
                            <h5 class="text-capitalize">Admin Details</h5>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span>*</span>
                                Admin First Name</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control " formControlName="first_name" id="validationCustom0"
                                       type="text" placeholder="First Name" required="">
                                <em class="error" *ngIf="!schoolform.get('first_name').valid && (schoolform.get('first_name').dirty || schoolform.get('first_name').touched)">First name is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                Admin Last Name</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control " formControlName="last_name" id="validationCustom1"
                                       type="text" placeholder="Last Name" required="">
                                <em class="error" *ngIf="!schoolform.get('last_name').valid && (schoolform.get('last_name').dirty || schoolform.get('last_name').touched)">Last name is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom2" class="col-xl-3 col-md-4"><span>*</span>
                                Admin Email Address</label>
                            <div class="col-xl-8 col-md-7">
                                <input  class="form-control " formControlName="email_id" id="validationCustom2" pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-z]{2,4}$"
                                       type="email" placeholder="Email" required="">
                                <em class="error" *ngIf="schoolform.get('email_id').hasError('required') && (schoolform.get('email_id').dirty || schoolform.get('email_id').touched)">Email is required</em>
                                <em class="error" *ngIf="schoolform.get('email_id').hasError('pattern')">Invalid Email-Id</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom3" class="col-xl-3 col-md-4"><span>*</span>
                                Contact Number</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control " formControlName="mobile" id="validationCustom3"
                                       type="text" placeholder="Contact Number" (keypress)="numberPattern($event)" maxlength="15" minlength="10" required="">
                                <em class="error" *ngIf="!schoolform.get('mobile').valid && (schoolform.get('mobile').dirty || schoolform.get('mobile').touched)">Contact Number is required</em>
                            </div>
                        </div>
                            <div class="form-group row">
                                <div class="col-xl-3 col-md-4">
                                    <label class="form-check-label"><span style="visibility: hidden">*</span>
                                        Allow Dashboard</label>
                                </div>
                                <div class="col-xl-8 col-md-7" style="position: relative; left: 1.5rem">
                                    <input type="checkbox" class="form-check-input" formControlName="allowDash">Yes
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="pull-right">
                        <button type="button" *ngIf="type == 'add'" (click)="addschool('add')"  class="btn btn-primary" >Save</button>
                        <button type="button" *ngIf="type == 'edit'" (click)="editschool()" class="btn btn-primary" >Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Container-fluid Ends-->
