<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <button class="btn btn-outline-primary mb-2 mr-2" id="convertText" (click)="convert();" >ConvertText</button>
            <button class="btn btn-outline-primary mb-2"  (click)="convertHW();" >Converthandwritingtext</button>
        </div>
    </div>
    <div style="height: 500px; border: 1px solid red; margin-top: 1rem;" class="row" id="textEditor" #mref ></div>
</div>






<!--ristacc@gmail.com') OR 1 = 1 &#45;&#45; ]-->
