<!-- Container-fluid starts-->
 <ng-template #bulkmodal let-c="close" let-d="dismiss">
     <div class="modal-header">
         <h3>Bulk Upload</h3>
         <p class="text-right">
             <i class="fa fa-close" aria-hidden="true" style="cursor:pointer" (click)="close()"></i>
         </p>
     </div>
     <div class="modal-body">
         <div class="row">
             <div class="col-sm-12">
                 <div class="card-body pt-2">
                     <div class="row">
                         <div class="col-md-6">
                             <div class="form-group row">
                                 <label class="col-md-12"><span class="text-danger">*</span>
                                     Institution Name</label>
                                 <div class="col-md-12">
                                     <ng-select [items]="schoollist"
                                                bindLabel="school_name"
                                                bindValue="school_id"
                                                [(ngModel)]="schoolId"
                                                placeholder="Please Select"
                                     >
                                     </ng-select>
                                 </div>
                             </div>
                         </div>
                         <div class="col-md-6 text-right" style="padding-top: 25px">
                             <div (click)="downloadExcel()" style="cursor: pointer"> Download Sample Excel <i class="fa fa-download" aria-hidden="true" style="color:#329688"></i></div>
                         </div>

                         <div class="custom-file" style="margin-top: 19px;">
                             <input #fileUploader type="file" class="custom-file-input" id="inputGroupFile02"
                                    aria-describedby="inputGroupFileAddon01" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" name="file" (click)="fileUploader.value = null " (change)="readUrl($event)">
                             <label *ngIf="filetype == ''" class="custom-file-label">Upload Excel</label>
                             <label *ngIf="filetype != ''" class="custom-file-label">{{filetype[0]}}.{{filetype[1]}}</label>
                         </div>
                         <div class="mt-3">
                             <span style="color: firebrick">*</span><small>Note: Upload format should be same as Sample Excel Format</small>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
            <div class="modal-footer" >
                <div class="btn-popup pull-right">
                             <button class="btn btn-primary" (click)="onUploadFinished('upload')">Submit</button>
                </div>
            </div>

 </ng-template>
 <ng-template #emailmodal let-c="close" let-d="dismiss">
     <div class="modal-header">
         <h3>Email  Invite</h3>
         <p class="text-right">
             <i class="fa fa-close" aria-hidden="true" style="cursor:pointer" (click)="close()"></i>
         </p>
     </div>
     <div class="container-fluid">
         <div class="row">
             <div class="col-md-12 pl-4 pr-4 pt-4">
                 <div class="form-group row">
                     <label class="col-md-12"><span class="text-danger">*</span>
                         Institution Name</label>
                     <div class="col-md-12">
                         <ng-select [items]="schoollist"
                                    bindLabel="school_name"
                                    bindValue="school_id"
                                    [(ngModel)]="schoolId"
                                    placeholder="Please Select"
                                    (change)="gradeList($event)">
                         </ng-select>
                     </div>
                 </div>
             </div>
             <div class="col-md-12 pl-4 pr-4">
                 <div class="form-group row">
                     <label class="col-md-12"><span class="text-danger">*</span>
                         Grade Name</label>
                     <div class="col-sm-12">
                         <ng-select [items]="gradeData"
                                    bindLabel="grade_name"
                                    bindValue="grade_id"
                                    placeholder="Please Select"
                                    typeToSearchText=""
                                    [(ngModel)]="grade"
                         >
                         </ng-select>
                     </div>
                 </div>
             </div>
             <div class="col-sm-12">
                 <div class="modal-body">
                     <tag-input [(ngModel)]='studentBlukEmail'
                                name="studentBlukEmail"
                                #email="ngModel"
                                [errorMessages]="errorMessages"
                                [validators]="validators"
                                [editable]='true'
                                [separatorKeyCodes]="[32,188,186,13,9]"
                                [placeholder]="'Add email'"
                                [secondaryPlaceholder]="'Enter email address'"
                                [clearOnBlur]="true"
                                [addOnPaste]="true"
                                [addOnBlur]="true"
                                theme='bootstrap'
                                required >
                     </tag-input>
                 </div>
             </div>
         </div>
     </div>
     <div class="modal-footer">
         <button type="button" class="btn btn-outline-primary" (click)="emailInviteUpload('email')">Submit</button>
     </div>
 </ng-template>
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Student Details</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3" *ngIf="showSchoolSearch">
                    <ng-select [items]="schoolData"
                               bindLabel="school_name"
                               bindValue="school_id"
                               placeholder="Please Select"
                               [(ngModel)]="schoolDataList"
                               (change)="studentList('select')"
                    >
                    </ng-select>
                </div>
                <div class="col-{{showSchoolSearch ? 9 : 12}}">
                    <div class="btn-popup pull-right">
                        <div class = "dropdown">
                            <a class = "btn btn btn-primary dropbtn mr-3">Invite</a>
                            <div class = "dropdown-content">
                                <a class="dropdown-link" (click)="bulkModal()">Bulk Upload</a>
                                <a class="dropdown-link" (click)="emailModal()">Invite By Email</a>
                            </div>
                        </div>
                        <a class="btn btn-primary" [routerLink]="'/student/create-student/add'">Add Student</a>
                    </div>
                </div>
            </div>
            <div id="batchDelete" class="category-table custom-datatable transcation-datatable user-image">
                <div class="table-responsive">
                    <ng2-smart-table [settings]="settings" [source]="listData" (custom)="onCustomAction($event)"></ng2-smart-table>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #content1 let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title col-12 text-center"><b>Reset Password Using E-Mail</b></h4>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <h5 class="text-center mt-3">Are you sure want to reset password for {{resetPassword.first_name}}</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="change(1)">Confirm</button>
    </div>
</ng-template>
<ng-template #contentnow let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title col-12 text-center"><b>Reset Password Now</b></h4>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <form [formGroup]="studentPassword">
                <div class="row form-group auth-form">
                    <input required="" readonly class="form-control" type="text" placeholder="Email" formControlName="email">
                    <em class="error" *ngIf="!studentPassword.get('email').valid && (studentPassword.get('email').dirty || studentPassword.get('email').touched)">Email is required</em>
                </div>
                <div class="row form-group auth-form">
                    <div class="input-group">
                        <input required="" type="text" formControlName="password"
                               class="form-control" placeholder="Password" aria-label="Recipient's username" aria-describedby="basic-addon1" [type]="conps ? 'password' : 'text'">
                        <div class="input-group-append">
                                     <span class="input-group-text" id="basic-addon3">
                                            <i [class]="conps ? 'fa fa-eye-slash' : 'fa fa-eye'" style="color: #7F3486" aria-hidden="true" (click)="conps = !conps"></i>
                                     </span>
                        </div>
                    </div>
                    <em class="error" *ngIf="studentPassword.get('password').hasError('required') && (studentPassword.get('password').dirty || studentPassword.get('password').touched)">Password is required</em>
                    <em *ngIf="studentPassword.get('password').hasError('minlength')" class="error help-block">Minimum 5 characters required</em>
                </div>
                <div class="row form-group auth-form">
                    <div class="input-group">
                        <input required="" type="text" formControlName="confirmpassword"
                               class="form-control" placeholder="Confirm Password" aria-label="Recipient's username" aria-describedby="basic-addon1" [type]="conps1 ? 'password' : 'text'">
                        <div class="input-group-append">
                           <span class="input-group-text" id="basic-addon2">
                               <i [class]="conps1 ? 'fa fa-eye-slash' : 'fa fa-eye'" style="color: #7F3486" aria-hidden="true" (click)="conps1 = !conps1"></i>
                           </span>
                        </div>
                    </div>
                    <em class="error" *ngIf="studentPassword.get('confirmpassword').hasError('required') && (studentPassword.get('confirmpassword').dirty || studentPassword.get('confirmpassword').touched)">Confirm Password is required</em>
                    <div *ngIf="checkPasswords()">
                        <em class="error help-block">
                            Enter same password as above
                        </em>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="cancel()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="change(2)">Confirm</button>
    </div>
</ng-template>
<!-- Container-fluid Ends-->
