<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Settings details</h4>
        <i class="fa fa-close fa-lg mt-1" aria-hidden="true" style="color:#7F3486; cursor: pointer; float: right;" (click)="close()"></i>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
                <form [formGroup]="settingsform" class="needs-validation user-add">
                    <div class="row">

                <div class="col-sm-12">
                    <div class="card-body pt-2">
                        <div class="form-group row">
                            <label for="validationCustom0" class="col-xl-4 col-md-4">
                                 Name</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control" formControlName="name" id="validationCustom0"
                                       type="text" placeholder="First Name" required readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom1" class="col-xl-4 col-md-4">
                                Description</label>
                            <div class="col-xl-8 col-md-7">
                                <textarea class="form-control" id="validationCustom1" formControlName="description"
                                          type="text" placeholder="Description" required></textarea>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-xl-4 col-md-4">
                                Value<span>*</span></label>
                            <div class="col-xl-8 col-md-7">
                                <div *ngIf="settingsform.controls.name.value == 'upgrade_date'" class="input-group col-md-12 px-0">
                                    <!-- input box -->
                                    <input #dp="angular-mydatepicker" (dateChanged)="onDateChanged($event)" [options]="myDpOptions"
                                           angular-mydatepicker class="form-control" formControlName="value" name="value"
                                           placeholder="mm/dd/yyyy"/>
                                    <div class="input-group-append">
                                        <button (click)="dp.toggleCalendar()" class="btn btn-primary" type="button">
                                            <i class="fa fa-calendar-o"></i>
                                        </button>
                                    </div>
                                </div>
                                <input *ngIf="['answer_key_upload', 'allow_autoassign_student_for_class', 'upgrade_date' ,'allow_autograde_settings' ,'date_format' ,'timezone', 'zoom_user_email', 'teacher_zoom_view', 'student_zoom_view'].indexOf(settingsform.controls.name.value) == -1" class="form-control" formControlName="value"
                                       type="text" placeholder="Value" required>
                                <select *ngIf="settingsform.controls.name.value == 'answer_key_upload' || settingsform.controls.name.value == 'allow_autoassign_student_for_class' || settingsform.controls.name.value == 'allow_autograde_settings'" class="form-control" formControlName="value">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Suspended</option>
                                </select>
                                <select *ngIf="settingsform.controls.name.value == 'student_zoom_view' || settingsform.controls.name.value == 'teacher_zoom_view'" class="form-control" formControlName="value">
                                    <option value="0">In-App</option>
                                    <option value="1">New Tab</option>
                                    <option value="2">Both</option>
                                </select>
                                <select *ngIf="settingsform.controls.name.value == 'date_format'" class="form-control" formControlName="value">
                                    <option *ngFor="let item of dateFormatList" value="{{item.date_id}}">{{item.example}} &nbsp;( Eg:&nbsp;{{item.display_name}} )</option>
                                </select>
                                <div *ngIf="settingsform.controls.name.value == 'zoom_user_email'" class="col-12 px-0">
                                    <div *ngFor="let val of userEmailList; let i = index" class="col-12 px-0 d-flex mb-2">
                                        <input  [(ngModel)]="val.value" [ngModelOptions]="{standalone: true}" class="form-control col-10" placeholder="Value" type="text">
                                        <div (click)="deleteEmail(i)" *ngIf="(i + 1 !== userEmailList.length || userEmailList.length == 10) && userEmailList.length > 1" class="col-2 px-0 d-flex justify-content-end">
                                            <i class="fa fa-trash icon-border" style="font-size: 1.5rem"></i>
                                        </div>
                                        <div (click)="addEmail()" *ngIf="i + 1 === userEmailList.length && userEmailList.length < 10" class="col-2 px-0 d-flex justify-content-end">
                                            <i class="fa fa-plus icon-border" style="font-size: 1.5rem"></i>
                                        </div>
                                    </div>
                                    <div *ngIf="userEmailList.length > 10" class="col-12 px-0">
                                        <small class="color-red">Maximum count reached</small>
                                    </div>
                                </div>

<!--                                <select *ngIf="settingsform.controls.name.value == 'timezone'" class="form-control" formControlName="value">-->
<!--                                    <option *ngFor="let item of timeZoneList" value="{{item.id}}">{{item.time_zone}}</option>-->
<!--                                </select>-->
                                <ng-select *ngIf="settingsform.controls.name.value == 'timezone'"
                                           [items]="timeZoneList"
                                            bindLabel="time_zone"
                                            bindValue="id"
                                            formControlName="value"
                                            placeholder="Select Zone"
                                            typeToSearchText=""
                                >
                                </ng-select>
                                <em *ngIf="!settingsform.get('value').valid && (settingsform.get('value').dirty || settingsform.get('value').touched) && settingsform.controls.name.value != 'zoom_user_email'" class="error">Value is required</em>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
           </form>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn cancel" (click)="close()">Cancel</button>
        <button type="button" (click)="editsettings()" class="btn btn-primary">Save</button>
    </div>
</ng-template>

<div *ngIf="schoolStatus.length != 0" class="container-fluid">
    <div class="card">
        <div class="card-header">
        </div>
        <div class="card-body">
            <div class="" id="batchDelete">
                <div class="preliminary-table">
                    <app-table [TableType]="'General'" [TableArray]="listData" (clickValue)="emittedValue($event)"></app-table>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="schoolStatus.length == 0">
    <app-emptyschool>
    </app-emptyschool>
</div>
