<!-- Container-fluid starts-->
<div class="container-fluid" *ngIf="showPage">
    <div class="row">
        <div class="col-12">
            <div class="card tab2-card">
                <div class="card-header pb-0">
                    <h5 class="text-capitalize">{{type}} Content</h5>
                    <label class="text-muted">All fields marked with <span class="text-danger">*</span> are required</label>
                </div>
                <div class="card-body tab2-card">
                    <form *ngIf="uploadType == 'multi'" [formGroup]="booksform" class="needs-validation user-add">
                        <div class="form-group col-12 flex-wrap d-flex justify-content-center my-3 dragNDrop">
                            <div class="form-group col-md-12 flex-wrap dragNDrop">
                                <div style="padding: 15px;">
                                    <div class="col-md-12 row d-flex px-0">
                                        <div class="col-md-4 text-center">
                                            <div class="col-md-12 content-book-layout">
                                                <h4 style="color: #ca9be2">Assignment</h4>
                                                <label for="file1" (filesChangeEmiter)="onFileChange($event, '2')" appFileDragNDrop class="dropzone drop-layout">
                                                    <div class="text-wrapper">
                                                        <div class="centered">
                                                            <input type="file" name="file1" id="file1" accept=".pdf" (change)="uploadFile($event, '2')" multiple><label for="file1">Drag and drop<br> or <br>browse your PDF</label>
                                                        </div>
                                                    </div>
                                                </label>
                                                <label class="dropzone link-layout" (click)="openLinkPage('4', '2')">
                                                    <div class="text-wrapper">
                                                        <div class="centered">
                                                            <label>Click here to add Link<br> to create content<br> <small>(PPT, Word, Audio, Video)</small></label>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="col-md-12 content-book-layout">
                                                <h4 style="color: cadetblue">Assessment</h4>
                                                <label for="file2" (filesChangeEmiter)="onFileChange($event, '3')" appFileDragNDrop class="dropzone drop-layout">
                                                    <div class="text-wrapper">
                                                        <div class="centered">
                                                            <input type="file" name="file2" id="file2" accept=".pdf" (change)="uploadFile($event, '3')" multiple>
                                                            <label for="file2">Drag and drop<br> or <br>browse your PDF</label>
                                                        </div>
                                                    </div>
                                                </label>
                                                <label class="dropzone link-layout" (click)="openLinkPage('4', '3')">
                                                    <div class="text-wrapper">
                                                        <div class="centered">
                                                            <label>Click here to add Link<br> to create content<br> <small>(PPT, Word, Audio, Video)</small></label>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-md-4 text-center">
                                            <div class="col-md-12 content-book-layout">
                                                <h4 class="text-center" style="color: #3693b7">Resource</h4>
                                                <label for="file" (filesChangeEmiter)="onFileChange($event, '1')" appFileDragNDrop class="dropzone drop-layout">
                                                    <div class="text-wrapper">
                                                        <div class="centered">
                                                            <input type="file" name="file" id="file" accept=".pdf" (change)="uploadFile($event, '1')" multiple>
                                                            <label for="file">Drag and drop<br> or <br>browse your PDF</label>
                                                        </div>
                                                    </div>
                                                </label>
                                                <label class="dropzone link-layout" (click)="openLinkPage('4', '1')">
                                                    <div class="text-wrapper">
                                                        <div class="centered">
                                                            <label>Click here to add Link<br> to create content<br> <small>(PPT, Word, Audio, Video)</small></label>
                                                        </div>
                                                    </div>
                                                </label>
                                            </div>
                                        </div>
                                        <div class="col-12 px-0 d-flex flex-wrap">
                                            <div class="col-4" *ngFor="let item of commonLinks; let i = index">
                                                <div class="card link-card border-0 p-2 mb-3">
                                                    <div class="d-flex justify-content-between mb-2">
                                                        <div class="d-flex">
                                                            <span class="badge badge-dark flex-center mr-2">{{item.type}}</span>
                                                            <small [ngStyle]="{'background-color': item.resource_type == '2' ? '#ca9be2' : item.resource_type == '3' ?
                                                             'cadetblue' : '#3693b7'}" class="badge flex-center" style="color: whitesmoke">
                                                                {{item.resource_type == '2' ? 'Assignment' : item.resource_type == '3' ? 'Assessment' : 'Resource'}}</small>
                                                        </div>
                                                        <i class="fa fa-trash-o f-20px ml-1" (click)="deleteCommonLink(i)"></i>
                                                    </div>
                                                    <span class="color-primary text-left text-underline cursor my-2">{{item.link}}</span>
                                                    <input type="text" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="item.name" placeholder="Enter Content Name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <h3 *ngIf="pdfpath.length >0">Files</h3>
                                    <div class="w-100 d-flex flex-wrap">
                                        <div *ngFor="let f of pdfpath; let ind = index" class="fileItem-input col-3 mb-4" title="{{f.image}}">
                                            <div class="fileItem" style="width: 100%; display: block;">
                                                <div class="col-md-12 px-0 d-flex justify-content-between">
                                                    <!-- <div class="col-md-2">
                                                        <i class="fa fa-file-pdf-o fa-1x" aria-hidden="true" style="cursor:pointer" ></i>
                                                    </div> -->
                                                    <div class="col-md-6 px-0">
                                                        <small *ngIf="f.resource_type == '1'" class="badge mb-2" style="background-color: #3693b7; color: whitesmoke">Resource</small>
                                                        <small *ngIf="f.resource_type == '2'" class="badge mb-2" style="background-color: #ca9be2; color: whitesmoke">Assignment</small>
                                                        <small *ngIf="f.resource_type == '3'" class="badge mb-2" style="background-color: cadetblue; color: whitesmoke">Assessment</small>
                                                    </div>
                                                    <div class="col-md-6 px-0 d-flex justify-content-end">
                                                        <i class="fa fa-link f-22px" (click)="openLinkPage(f.resource_type, ind)"></i>
                                                        <i class="fa fa-trash-o f-22px ml-2" (click)="openConfirmDialog(ind, 'pdf')"></i>
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 px-0">
                                                    <h5 class="d-inline">{{f.image + '.pdf'}}</h5>
                                                </div>
                                                <div class="col-sm-12  ml-1" *ngIf="f.links.length != 0">
                                                    <div class="col-12 px-0" *ngFor="let list of f.links; let j = index">
                                                        <label><a href="{{list.link}}" target="_blank">{{list.type}}</a></label>
                                                        <i class="fa fa-external-link fa-1x ml-2" (click)="editLink(ind, j, list)"></i>
                                                        <i class="fa fa-trash-o fa-1x ml-1" (click)="openConfirmDialog({pdfIndex: ind, linkIndex: j}, 'link')"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="w-100 mt-2">
                                                <input type="text" class="form-control mx-1" [ngModelOptions]="{standalone: true}" [(ngModel)]="f.image" />
                                            </div>
                                        </div>

                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-4 col-xl-3"><span style="visibility: hidden">*</span>
                                Subject Name<span class="ml-1" style="color: #dc3545 !important" [ngStyle]="{'visibility' : roleid == '4' ? 'none' : 'hidden'}">*</span></label>
                            <div class="col-12 col-md-7 col-xl-8">
                                <ng-select [items]="subjectData"
                                           bindLabel="subject_name"
                                           bindValue="subject_id"
                                           formControlName="subject"
                                           multiple="true"
                                           placeholder="Select Subject"
                                           typeToSearchText=""
                                >
                                </ng-select>
                                <em class="error" *ngIf="roleid == '4' && (!booksform.get('subject').valid && (booksform.get('subject').dirty || booksform.get('subject').touched))">Subject is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-4 col-xl-3"><span style="visibility: hidden">*</span>
                                Grade Name</label>
                            <div  class="col-12 col-md-7 col-xl-8">
                                <ng-select  [items]="gradeData"
                                            bindLabel="grade_name"
                                            bindValue="grade_id"
                                            formControlName="grade"
                                            multiple="true"
                                            placeholder="Select Grade"
                                            typeToSearchText="">
                                </ng-select>
<!--                                <em class="error" *ngIf="!booksform.get('grade').valid && (booksform.get('grade').dirty || booksform.get('grade').touched)">Grade is required</em>-->
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Access Type</label>
                            <div class="col-xl-8 col-md-7">
                                <select class="form-control" formControlName="access">
                                    <option disabled selected value="">&#45;&#45;Select&#45;&#45;</option>
                                    <option *ngIf="roleid != '6'" value="1">Access to all within Org</option>
                                    <option *ngIf="roleid != '6'" value="2">Access only for you</option>
                                    <!-- <option *ngIf="roleid != '6'" value="3">Public</option> -->
                                    <option *ngIf="roleid == '6'" value="4">Access within corporate</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Content Folder</label>
                            <div class="col-xl-8 col-md-7">
                                <div class="row d-flex align-items-center">
                                    <app-treeview-contentfolder
                                        [type]="type" [selectedbatch]="batchid"></app-treeview-contentfolder>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-4 col-xl-3"><span>*</span>
                                Status</label>
                            <div class="col-12 col-md-7 col-xl-8">
                                <select class="form-control" formControlName="status">
                                    <option disabled selected>&#45;&#45;Select&#45;&#45;</option>
                                    <option value="1">Active</option>
                                    <option value="2">Suspended</option>
<!--                                    <option *ngIf="type =='edit'" value="3">Suspended</option>-->
                                    <option *ngIf="type =='edit'" value="4">Deleted</option>
                                </select>
                                    <em *ngIf="!booksform.get('status').valid && (booksform.get('status').dirty || booksform.get('status').touched)" class="error">Status is required</em>
                            </div>
                        </div>
                        <div class="form-group row mb-0">
                            <label class="col-12 col-md-4 col-xl-3"><span style="visibility: hidden">*</span>
                                Download Content</label>
                            <div class="col-12 col-md-7 col-xl-8">
                                <div class="col-12" style="position: relative; font-size: 15px; left: 0.4rem">
                                    <input class="form-check-input cursor" formControlName="downloadContent" type="checkbox"><label for="download">Allow</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-11">
                                <button type="button" (click)="addbooks(type)" class="btn btn-primary pull-right col-2">{{type ? 'Save' : 'Update'}}</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--    <div class="row mt-4" *ngIf="!allowAdd">-->
<!--        <div class="col-md-12">-->
<!--            <button class="btn btn-outline-primary pull-right" (click)="backAction()"><i class="fa fa-long-arrow-left fa-1x" aria-hidden="true"></i> Back</button>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="row d-flex justify-content-center list-card mt-5" *ngIf="!allowAdd">-->
<!--        <div class="col-8">-->
<!--            <button class="nodataList">You Don't Have Permission to add Books for {{schoolName}}</button>-->
<!--        </div>-->
<!--    </div>-->
</div>
<ng-template #viewPdf let-c="close" let-d="dismiss">
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 modal-header">
                    <h4 class="modal-title">{{pdfName}}</h4>
                    <p class="text-right">
                        <i class="fa fa-close fa-2x" aria-hidden="true" style="cursor:pointer" (click)="close()"></i>
                    </p>
                </div>
                <div class="col-md-12">
                    <pdf-viewer  [src]="pdfTemplate" style="display: block;"></pdf-viewer>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</ng-template>
<!-- Container-fluid Ends-->
<ng-template #deleteDialog let-c="close" let-d="dismiss">
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 my-3">
                    <h5 class="mb-0">Are sure to delete this {{isDeleteLink ? 'Link' : 'PDF'}}?</h5>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="isDeleteLink ? this.deleteLink() : this.deleteFromArray(this.selectedDeletePdf.index)">Confirm</button>
    </div>
</ng-template>


<ng-template #assignContentToClass let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h5 class="contenttext text-center mb-0">Assign Content</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <h5>
                    <span>Do you want to assign this content to the Class {{contentCreatedForm != 'class' ? 'or Content Folder' : ''}}</span>?</h5>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn cancel" (click)="dontAssign()">No</button>
        <button class="btn btn-primary" type="submit" (click)="assignContent()"
        >Yes</button>
    </div>
</ng-template>

<ng-template #assignTemplate let-c="close" let-d="dismiss">
    <app-confirm-content-assign
            [multiContentId]="multiContentId"
            [classData]="classDetails"
            [contentDetails]="assignData"
            (closePopUp)="closeAssignPopUp()"
    >
    </app-confirm-content-assign>
</ng-template>

<!--// link //-->

<ng-template #getLinkRedirection let-c="close" let-d="dismiss">
    <div class="modal-header align-items-center">
        <h3 style="font-size: 18px; color: black" class="modal-title font-weight-bold">
            <span>{{resourceLinkList == '1' ? 'Resource' : resourceLinkList == '2' ? 'Assignment' : resourceLinkList == '3' ? 'Assessment' : 'Add Link'}}</span>
        </h3>
        <p class="text-right mb-0" (click)="close()">
            <i style="font-size: 18px; color: black" class="fa fa-close cursor" aria-hidden="true"></i>
        </p>
    </div>
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div  class="col-md-12 my-3 container-fluid" [formGroup]="booksform">
                        <div  formArrayName="resourceLink" *ngFor="let list of booksform.get('resourceLink')['controls']; let i=index; let first = first">
                            <div class="row text-center mt-1" [formGroupName]="i">
                                <div class="w-100 col-md-3">
                                    <select class="form-control" formControlName="type">
                                        <option [value]="null" disabled selected>Select Link Type</option>
                                        <option [value]="list" *ngFor="let list of linksType">{{list == 'ppt' ? (list | uppercase) : (list | titlecase)}}</option>
                                    </select>
                                </div>
                                <div class="col-md-3 w-100" *ngIf="resourceLinkList != '4'">
                                    <input class="form-control" formControlName="name" type="text" placeholder="Enter Link Name">
                                </div>
                                <div class="w-100" [ngClass]="resourceLinkList != '4' && isEditLink ? 'col-md-6' : (resourceLinkList != '4' && !isEditLink) ?  'col-md-5' : isEditLink ? 'col-md-9' : 'col-md-8'">
                                    <input class="form-control" formControlName="link"
                                           type="text" placeholder="Link">
                                </div>
                                <div class="col-md-1 px-0 d-flex align-items-center w-100" *ngIf="!isEditLink">
                                    <i  class="fas fa-plus-circle color-primary fa-2x cursor" *ngIf="first" (click)="addarray()"></i>
                                    <i  class="fas fa-minus-circle color-primary fa-2x cursor" *ngIf="!first" (click)="removeArray(i)"></i>
                                </div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="close()">Cancel</button>
        <button type="button" class="btn btn-primary" *ngIf="!isEditLink" (click)="getLinkDetails(booksform.value)">Confirm</button>
        <button type="button" class="btn btn-primary" *ngIf="isEditLink" (click)="updateLink(booksform.value)">Update</button>
    </div>
</ng-template>

