
.custom-upload-input {
  color: transparent;
}
.custom-upload-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-upload-input::before {
  content: 'Choose files';
  color: black;
  display: inline-block;
  background: #1d6aa5;
  border-radius: 3px;
  padding: 12px 15px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  font-weight: 700;
  font-size: 11pt;
  color: #fff;
}

///
.custom-upload-input:hover::before {
  border-color: black;
}
.custom-upload-input:active {
  outline: 0;
}
.custom-upload-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.form-group {
  align-items: center;

  label {
    margin-bottom: 0;

    span {
      color: white !important;
    }
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8F008A;
  -webkit-transition: .4s;
  transition: .4s;
  color: white;

}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  //border: 1px solid #8F008A;
}

.slider.round:before {
  border-radius: 50%;
}
.link-card {
  border-radius: 6px;
  box-shadow: 1px 2px 6px 0 #d5d5d5;
}
