.tri-state-toggle {
  background: rgba(165, 170, 174, 0.25);
  box-shadow: inset 0 2px 8px 0 rgba(165, 170, 174, 0.25);
  border-radius: 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  transition: all 500ms ease;
}

.tri-state-toggle-button {
  border-radius: 24px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  background-color: transparent;
  border: 0 solid transparent;
  margin: 2px;
  color: #727C8F;
  cursor: pointer;
  transition: all 0.5s ease;
}

.tri-state-toggle-button.active {
  background-image: linear-gradient(-180deg, #fff 0%, #FAFAFA 81%, #F2F2F2 100%);
  border: 1px solid rgba(207, 207, 207, 0.6);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1);
  color: #26CDBE !important;
  font-weight: 500 !important;
  transition: all .2s ease-in !important;
}

.tri-state-toggle-button:focus {
  outline: none;
}

.form-group {
  position: relative;
}

.form-group input {
  position: relative;
  z-index: 9;
  background: transparent;
  border-radius: .25rem;
  padding: .48rem .75rem
}

.form-group .customLabel {
  position: absolute;
  left: 28px;
  top: 6px;
  z-index: 1;
  color: #999999;
}

.form-group .custom-content-Label {
  position: absolute;
  left: 28px;
  top: 32px;
  z-index: 1;
  color: #999999;
}

.form-group .customLabel::after, .form-group .custom-content-Label::after {
  content: " *";
  color: red;
}

input[required]:valid + .customLabel, input[required]:valid + .custom-content-Label {
  display: none;
}

.custom ::ng-deep .ng-placeholder::after {
  content: " *";
  color: red;
}

.w-37 {
  width: 37% !important;
  padding: 0 10px !important;
}

.w-20 {
  width: 20% !important;
  padding: 0 15px !important;
}

.w-15 {
  width: 15% !important;
  padding: 0 15px !important;
}

.w-18 {
  width: 18% !important;
  padding: 0 15px !important;
}
