<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card tab2-card">
                <div class="card-header">
                    <h5 class="text-capitalize" *ngIf="type == 'add'">Add Books</h5>
                    <h5 class="text-capitalize" *ngIf="type == 'edit'">Edit Books</h5>
                    <label class="text-muted">All fields marked with <span class="text-danger">*</span> are required</label>
                </div>
                <div class="card-body tab2-card">
                    <form [formGroup]="booksform" class="needs-validation user-add">
                        <div class="form-group row">
                            <label for="validationCustom1" class="col-xl-3 col-md-4"><span>*</span>
                                Book Name</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control " formControlName="name" id="validationCustom1"
                                       type="text" placeholder="Name" required="">
                                <em class="error" *ngIf="!booksform.get('name').valid && (booksform.get('name').dirty || booksform.get('name').touched)">Name is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom0" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Publication Code</label>
                            <div class="col-xl-8 col-md-7">
                                <input class="form-control " formControlName="publicationCode" id="validationCustom0"
                                       type="text" placeholder="Publication Code">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom2" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                 Description</label>
                            <div class="col-xl-8 col-md-7">
                                <textarea class="form-control " rows="3" formControlName="description" id="validationCustom2"
                                          type="email" placeholder="Description"></textarea>
                           </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom5" class="col-xl-3 col-md-4"><span>*</span>
                                Book Type</label>
                            <div class="col-xl-8 col-md-7">
                                <select class="form-control" formControlName="bookType" (change)="typeSelection($event)">
                                    <option selected disabled>&#45;&#45;Select&#45;&#45;</option>
                                    <option value="1">Resource</option>
                                    <option value="3">Assessment</option>
                                    <option value="2">Assignment</option>
                                </select>
                                <em class="error" *ngIf="!booksform.get('bookType').valid && (booksform.get('bookType').dirty || booksform.get('bookType').touched)">Book type is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom5" class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Access Type</label>
                            <div class="col-xl-8 col-md-7">
                                <select class="form-control" formControlName="access">
                                    <option value="" selected disabled>&#45;&#45;Select&#45;&#45;</option>
                                    <option value="1">Private (Within Institution)</option>
                                    <option value="2">Private (Only You)</option>
                                    <!-- <option value="3">Public</option> -->
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="validationCustom5" class="col-xl-3 col-md-4"><span>*</span>
                                Status</label>
                            <div class="col-xl-8 col-md-7">
                                <select class="form-control" formControlName="status" id="validationCustom5">
                                    <option selected disabled>&#45;&#45;Select&#45;&#45;</option>
                                    <option value="1">Active</option>
                                    <option value="2">In-Active</option>
                                    <option *ngIf="type =='edit'" value="3">Suspended</option>
                                    <option *ngIf="type =='edit'" value="4">Deleted</option>
                                </select>
                                <em class="error" *ngIf="!booksform.get('status').valid && (booksform.get('status').dirty || booksform.get('status').touched)">Status is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span>*</span>
                                Institution Name</label>
                            <div class="col-xl-8 col-md-7">
                                <ng-select [items]="selectedSchool" [readonly]="!showSchoolSearch"
                                           bindLabel="name"
                                           bindValue="id"
                                           formControlName="schoolId"
                                           placeholder="Please Select"
                                           (change)="institutionSelection($event.id)"
                                >
                                </ng-select>
                                <em class="error" *ngIf="!booksform.get('schoolId').valid && (booksform.get('schoolId').dirty || booksform.get('schoolId').touched)">Institution Name is required</em>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Subject Name</label>
                            <div class="col-xl-8 col-md-7">
                                <ng-select [items]="subjectData"
                                           bindLabel="subject_name"
                                           bindValue="subject_id"
                                           formControlName="subjectName"
                                           placeholder="Please Select"
                                           multiple="true"
                                >
                                </ng-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-xl-3 col-md-4"><span style="visibility: hidden">*</span>
                                Grade Name</label>
                            <div class="col-xl-8 col-md-7">
                                <ng-select [items]="gradeData"
                                           bindLabel="grade_name"
                                           bindValue="grade_id"
                                           formControlName="gradeName"
                                           placeholder="Please Select"
                                           multiple="true"
                                >
                                </ng-select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-12 col-md-4 col-xl-3"><span style="visibility: hidden">*</span>
                                Resources Link</label>
                            <div  class="col-12 col-md-7 col-xl-8">
                                <tag-input formControlName="resourcesLink"
                                           [secondaryPlaceholder]="'Enter Resources'"
                                           [placeholder]="'Add Resources'"
                                           [editable]='true'
                                           [clearOnBlur]="true"
                                           [addOnPaste]="true"
                                           [addOnBlur]="true"
                                           theme='bootstrap'>
                                </tag-input>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-12 col-md-4 col-xl-3"><span style="visibility: hidden">*</span>
                                Download Content</label>
                            <div class="col-12 col-md-7 col-xl-8">
                                <div class="col-12" style="position: relative; font-size: 15px; left: 0.4rem">
                                    <input type="checkbox" class="form-check-input cursor" id="download" formControlName="downloadContent"><label for="download">Allow</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <label class="col-12 col-md-6 col-xl-6"><span>*</span>
                                    Upload Files</label>
                                <input accept=".pdf" style="display: none" type="file" #attachments (change)="encodePdfFileAsURL($event, 1)" #hiddenfileinput>
                                <button class="btn btn-primary mt-2 ml-2" type="file" aria-describedby="inputGroupFileAddon01"
                                        (click)="hiddenfileinput.click()"><i class="fa fa-upload"></i> Upload PDF</button>
                            </div>
                            <div class="col-md-6" *ngIf="showAnswerPdf">
                                <label class="col-12 col-md-6 col-xl-6"><span style="visibility: hidden">*</span>
                                    Answer Key Upload</label>
                                <input accept=".pdf" style="display: none" type="file" #attachments1 (change)="encodePdfFileAsURL($event, 2)" #hiddenfileinput1>
                                <button class="btn btn-primary mt-2" type="file" aria-describedby="inputGroupFileAddon11"
                                        (click)="hiddenfileinput1.click()"><i class="fa fa-upload"></i> Upload PDF</button>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group card-resource ml-4" *ngFor="let file of pdfpath; let i= index">
                                        <div class="delete-icon w-100" *ngIf="pdfpath.length > 0">
                                            <img class="img-path cursor" src="assets/images/ristaschool/assessment.png" title="{{file.image}}" alt="" (click)="viewDetail(file)">
                                            <br/>
                                            <img *ngIf="pdfpath != ''" class="img-icon mt-2 float-right" (click)="deletePdf(i,1)" src="assets/images/pdf-icons/Icon material-delete@2x.png"  alt="">
                                            <h6 class="mt-2 classresource cursor" (click)="viewDetail(file)">{{file.image}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="showAnswerPdf">
                                <div class="col-12 col-md-4 col-xl-4">
                                    <div class="form-group card-resource ml-4" *ngFor="let file of answerpdfpath; let i= index">
                                        <div class="delete-icon w-100" *ngIf="answerpdfpath.length > 0">
                                            <img class="cursor img-path" src="assets/images/ristaschool/answerkey.jpg" title="{{file.image}}" alt="" (click)="viewDetail(file)">
                                            <br/>
                                            <img *ngIf="answerpdfpath != ''" class="img-icon mt-2 float-right" (click)="deletePdf(i,2)" src="assets/images/pdf-icons/Icon material-delete@2x.png"  alt="">
                                            <h6 class="mt-2 cursor classresource" (click)="viewDetail(file)">{{file.image}}</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div class="pull-right">
                        <button type="button" *ngIf="type == 'add'" (click)="addbooks('add')"  class="btn btn-primary">Save</button>
                        <button type="button" *ngIf="type == 'edit'" (click)="addbooks('edit')"  class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #viewPdf let-c="close" let-d="dismiss">
    <div class="modal-body">
        <!-- Container-fluid starts-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 modal-header">
                    <h4 class="modal-title">{{pdfName}}</h4>
                    <p class="text-right">
                        <i class="fa fa-close fa-2x" aria-hidden="true" style="cursor:pointer" (click)="close()"></i>
                    </p>
                </div>
                <div class="col-md-12">
                    <pdf-viewer  [src]="pdfTemplate" style="display: block;"></pdf-viewer>
                </div>
            </div>
        </div>
        <!-- Container-fluid Ends-->
    </div>
</ng-template>
<!-- Container-fluid Ends-->
